
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-hogwarts-Fb7 {
  height: 370rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .rectangle-11-yn1 {
    width: 144rem;
    height: 412.7rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #090909;
  }
  .background-7tD {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 178.2rem;
    height: 349.7rem;
  }
  .project-description-FzR {
    left: 4.1913rem;
    top: 256.3236rem;
    object-fit: contain;
    vertical-align: top;
    width: 134.6756rem;
    height: 53.5872rem;
    position: absolute;
  }
  .bg-yfX {
    width: 127.8rem;
    height: 78.5091rem;
    position: absolute;
    left: 8.2rem;
    top: 90.1rem;

    .bg-fakultas-7Fw {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 127.8rem;
      height: 78.5091rem;
      position: absolute;
    }
    .vector-6-emf {
      height: 6rem;
      position: absolute;
      left: 105.2rem;
      top: 9.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 6.95rem;
    }
    .group-1-Bmb {
      left: 73.6rem;
      top: 15.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 38.6rem;
      height: 38.6rem;
      position: absolute;
    }
    .vector-7-7QM {
      height: 10.25rem;
      position: absolute;
      left: 70.2rem;
      top: 47.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 12.35rem;
    }
    .text-r73 {
      top: 15.1rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 52rem;
      height: 33.6rem;
      position: absolute;
      left: 15.4rem;

      .auto-group-drfd-mzh {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .thefirst-WhP {
          font-size: 5rem;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1rem;
          font-weight: 700;
          letter-spacing: -0.05rem;
          white-space: nowrap;
        }
        .faiz-hazim-hawari-d1K {
          font-weight: 700;
          line-height: 1.2575;
          letter-spacing: -0.05rem;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 5rem;
        }
      }
      .mission-8Ts {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .ui-ux-designer-HrZ {
          flex-shrink: 0;
          font-size: 2rem;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          line-height: 1.2575;
          letter-spacing: 0.1rem;
          margin: 0.7rem 5rem 0rem 0rem;
          max-width: 9.9rem;
          font-weight: 700;
        }
        .as-a-ui-ux-and-poster-designer-utilizing-figma-my-responsibilities-include-crafting-visually-appealing-and-user-friendly-interface-designs-and-posters-the-process-involves-wireframing-prototyping-and-collaborating-with-stakeholders-to-ensure-a-seamless-user-experience-and-captivating-visual-communication-noK {
          max-width: 37.1rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.9720000029;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
  .bg-az5 {
    left: 1.8rem;
    top: 170.1rem;
    width: 134.2rem;
    height: 75.7923rem;
    position: absolute;

    .bg-fakultas-Wsj {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 134.2rem;
      height: 75.7923rem;
      position: absolute;
    }
    .vector-6-G6D {
      width: 6rem;
      height: 6.95rem;
      position: absolute;
      left: 118.6rem;
      top: 15.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-1-bPP {
      box-sizing: border-box;
      padding-top: 0.8rem;
      width: 39.4rem;
      height: 39.4rem;
      position: absolute;
      left: 80rem;
      top: 14.3rem;

      .auto-group-hjkz-7cd {
        width: 38.6rem;
        height: 38.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .vector-7-raD {
      width: 12.35rem;
      height: 10.25rem;
      position: absolute;
      left: 110.4rem;
      top: 47.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .text-zRX {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 52rem;
      height: 33.6rem;
      position: absolute;
      left: 21.8rem;
      top: 15.1rem;

      .auto-group-fd3h-iMX {
        box-sizing: border-box;
        padding-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .thesecond-G89 {
          font-weight: 700;
          white-space: nowrap;
          margin-bottom: 1rem;
          font-size: 5rem;
          line-height: 1.2575;
          letter-spacing: -0.05rem;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .muhammad-syafrie-ncH {
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 5rem;
          font-weight: 700;
          line-height: 1.2575;
          letter-spacing: -0.05rem;
          color: #ffffff;
        }
      }
      .mission-tfK {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .ui-ux-designer-Rv9 {
          font-family: Google Sans, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2rem;
          color: #ffffff;
          font-weight: 700;
          line-height: 1.2575;
          letter-spacing: 0.1rem;
          margin: 0.7rem 5rem 0rem 0rem;
          max-width: 9.9rem;
        }
        .as-a-ui-ux-and-poster-designer-utilizing-figma-my-responsibilities-include-crafting-visually-appealing-and-user-friendly-interface-designs-and-posters-the-process-involves-wireframing-prototyping-and-collaborating-with-stakeholders-to-ensure-a-seamless-user-experience-and-captivating-visual-communication-tHw {
          flex-shrink: 0;
          max-width: 37.1rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.9720000029;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
        }
      }
    }
  }
  .home-Rx5 {
    width: 127.7964rem;
    height: 66.1985rem;
    position: absolute;
    left: 8.2rem;
    top: 14.8rem;

    .bg-kzM {
      width: 63.1111rem;
      height: 66.1985rem;
      position: absolute;
      left: 64.6853rem;
      top: 0;

      .vector-hPo {
        width: 58.9808rem;
        height: 55.7489rem;
        position: absolute;
        left: 2.7147rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-4-Rah {
        height: 58.5969rem;
        position: absolute;
        left: 0;
        top: 7.6016rem;
        object-fit: contain;
        vertical-align: top;
        width: 61.7294rem;
      }
      .image-2-mPf {
        left: 15.5182rem;
        top: 7.3233rem;
        object-fit: cover;
        vertical-align: top;
        width: 47.5929rem;
        height: 47.6533rem;
        position: absolute;
      }
      .vector-5-6gq {
        object-fit: contain;
        vertical-align: top;
        width: 7.2rem;
        height: 7.25rem;
        position: absolute;
        left: 34.4147rem;
        top: 56.3999rem;
      }
      .photo-dwf {
        top: 11.4rem;
        width: 48.7rem;
        height: 48.9rem;
        position: absolute;
        left: 6.5147rem;

        .photo-2-Awb {
          top: 0;
          width: 25.5rem;
          height: 25.5rem;
          position: absolute;
          left: 0;

          .rectangle-4-vQy {
            background-color: rgba(255, 87, 40, 0.400000006);
            border-radius: 0 3rem 0 3rem;
            width: 19.3rem;
            height: 22.2rem;
            position: absolute;
            left: 4.7rem;
            top: 2.9rem;
            backdrop-filter: blur(3rem);
          }
          .ee3d7e4a75aa33dd871af5752d0378-sticker-1-q29 {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 25.5rem;
            height: 25.5rem;
            position: absolute;
            left: 0;
          }
        }
        .photo-5-MFP {
          width: 23.8rem;
          height: 23.8rem;
          position: absolute;
          left: 13.6rem;
          top: 25.1rem;

          .rectangle-4-VcV {
            width: 19.3rem;
            height: 22.1rem;
            position: absolute;
            left: 2.2rem;
            top: 0;
            backdrop-filter: blur(3rem);
            background-color: rgba(4, 180, 107, 0.400000006);
            border-radius: 0 3rem 0 3rem;
          }
          .e659b50ed80dccb797d20e562-sticker-1-odB {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 23.8rem;
            height: 23.8rem;
          }
        }
        .photo-4-X3P {
          left: 22.8rem;
          top: 2.3rem;
          width: 25.9rem;
          height: 25.9rem;
          position: absolute;

          .rectangle-4-TSq {
            background-color: rgba(6, 193, 174, 0.400000006);
            border-radius: 3rem 0 3rem 0;
            width: 19.6rem;
            height: 22.1rem;
            position: absolute;
            left: 4rem;
            top: 2.2rem;
            backdrop-filter: blur(3rem);
          }
          .d66e8503c9cd49a92b323209f839bb7a-sticker-1-myK {
            width: 25.9rem;
            height: 25.9rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .text-6Vo {
      top: 10.1rem;
      width: 69.1rem;
      height: 24rem;
      position: absolute;
      left: 0;

      .meet-our-team-behind-the-project-3R3 {
        font-family: Google Sans, 'Source Sans Pro';
        margin-bottom: 2.6rem;
        max-width: 69.1rem;
        font-size: 7.5rem;
        font-weight: 700;
        line-height: 1.0301218149;
        color: #ffffff;
      }
      .auto-group-6yzy-AVf {
        margin-right: 2.3rem;
        width: calc(100% - 2.3rem);
        display: flex;
        align-items: center;

        .item--uTF {
          line-height: 0.9169999957;
          font-style: italic;
          color: #ffc50d;
          flex-shrink: 0;
          text-align: right;
          font-weight: 700;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 8.6rem;
          font-size: 6.4rem;
        }
        .hogwarts-university-paD {
          font-weight: 500;
          line-height: 0.9169999957;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          font-size: 6.4rem;
          font-style: italic;
        }
      }
    }
    .rectangle-weq {
      align-items: center;
      border-radius: 7.8rem;
      width: 38.6rem;
      height: 7rem;
      position: absolute;
      left: 0;
      top: 39.1001rem;
      display: flex;

      .rect-kiri-Uuf {
        justify-content: center;
        margin-right: 2.2rem;
        flex-shrink: 0;
        white-space: nowrap;
        display: flex;
        border-radius: 7.8rem;
        width: 18.2rem;
        text-align: right;
        font-family: Google Sans, 'Source Sans Pro';
        line-height: 0.9170000076;
        color: #000000;
        align-items: center;
        background-color: #ffffff;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 700;
      }
      .rect-kanan-8DX {
        display: flex;
        border-radius: 7.8rem;
        flex-shrink: 0;
        height: 100%;
        font-weight: 500;
        font-family: Google Sans, 'Source Sans Pro';
        border: solid 0.3rem #ffffff;
        box-sizing: border-box;
        text-align: right;
        font-size: 1.8rem;
        line-height: 0.9170000288;
        color: #ffffff;
        white-space: nowrap;
        align-items: center;
        width: 18.2rem;
        justify-content: center;
      }
    }
  }
  .navbar-yzq {
    align-items: center;
    backdrop-filter: blur(2rem);
    padding: 1.6rem 8rem 1.8rem 7.1rem;
    left: 0;
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.200000003);
    box-sizing: border-box;
    width: 144rem;
    height: 12.8rem;
    position: absolute;

    .logo-1-4mP {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 25.3rem;
      width: 9.4rem;
      height: 9.4rem;
      cursor: pointer;
      object-fit: cover;
    }
    .text-PYm {
      margin: 3.6rem 19.6rem 3.7rem 0rem;
      height: calc(100% - 7.3rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .alumni-Jvd {
        margin-right: 3.3rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .alumni-U4R {
          line-height: 1.2575;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.1rem;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .vector-1-14M {
          height: 0.65rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.05rem;
          width: 1rem;
        }
      }
      .media-8Ps {
        margin-right: 3.7rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .staff-intranet-GW5 {
        flex-shrink: 0;
        margin-right: 3.7rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .about-hogwart-1Cm {
        line-height: 1.2575;
        color: #ffffff;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.2rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .office-kRF {
        flex-shrink: 0;
        margin-right: 3.5rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .contact-us-gph {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .kanan-cyF {
      margin: 2.4rem 0rem 3rem 0rem;
      height: calc(100% - 5.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .vector-Mfw {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.2rem 2.5rem 0rem 0rem;
        width: 2.2rem;
        height: 2.2rem;
        object-fit: contain;
      }
      .en-67j {
        margin: 1rem 2.3rem 0.8rem 0rem;
        height: calc(100% - 1.8rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .en-Dy3 {
          font-weight: 500;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.1rem;
          font-size: 1.7rem;
        }
        .vector-1-NL9 {
          flex-shrink: 0;
          margin-top: 0.05rem;
          width: 1rem;
          height: 0.65rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .profile-i97 {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .bg-qDj {
    width: 150.4175rem;
    height: 53.4rem;
    position: absolute;
    left: 0;
    top: 320.3rem;

    .rectangle-10-NDf {
      width: 144rem;
      height: 45.8rem;
      position: absolute;
      left: 0;
      top: 3.9rem;
      background-color: #151515;
    }
    .vector-10-J7K {
      position: absolute;
      left: 129.2rem;
      top: 26.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 21.2175rem;
      height: 21.596rem;
    }
    .vector-12-2p1 {
      height: 6rem;
      position: absolute;
      left: 75.95rem;
      top: 4.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 7.65rem;
    }
    .vector-11-mFo {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 45rem;
      height: 53.4rem;
      position: absolute;
      left: 2.85rem;
    }
    .logo-2-WUH {
      height: 9.4rem;
      position: absolute;
      left: 17.4rem;
      top: 8.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 9.4rem;
    }
    .text-E9P {
      position: absolute;
      left: 51.8rem;
      top: 10.4rem;
      display: flex;
      align-items: flex-start;
      width: 79.8rem;
      height: 35.3rem;

      .auto-group-y4af-ktR {
        margin: 0.2rem 6.7rem 0rem 0rem;
        width: 26.4rem;
        flex-shrink: 0;

        .kiri--V5K {
          margin: 0rem 0rem 13rem 0.2rem;
          display: flex;
          flex-direction: column;

          .hogwart-international-school-1ZT {
            font-family: Google Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            max-width: 19.8rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 0.9170000076;
            color: #ffffff;
          }
          .based-on-medan-indonesia-76h {
            max-width: 11.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.4050000906;
            color: #8d8d8d;
            font-family: Google Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 2.6rem;
          }
          .tel-62-812-7507-6747-BsF {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.4050000906;
            color: #8d8d8d;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.2rem;
          }
          .email-infohogwartind-6DX {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.4050000906;
            color: #8d8d8d;
            font-family: Google Sans, 'Source Sans Pro';
          }
        }
        .auto-group-5bq5-RWh {
          width: 100%;
          height: 3rem;
          position: relative;

          .hogwart-international-school-aeV {
            color: #ffffff;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 24.6rem;
            position: absolute;
            line-height: 0.9169999957;
            font-size: 1.6rem;
            font-weight: 700;
            height: 1.5rem;
            left: 1.8rem;
            top: 0.1rem;
          }
          .item--5r9 {
            font-weight: 700;
            line-height: 0.9169999957;
            font-family: Google Sans, 'Source Sans Pro';
            width: 2.4rem;
            height: 3rem;
            top: 0;
            color: #000000;
            white-space: nowrap;
            position: absolute;
            left: 0;
            font-size: 3.2rem;
          }
        }
      }
      .tengah-zTK {
        margin-right: 9.8rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .infocentre-in-new-building-YDw {
          font-size: 2rem;
          font-weight: 700;
          line-height: 0.9170000076;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.5rem;
        }
        .open-mo-fr-900-1630-off-semester-900-1500-GQq {
          flex-shrink: 0;
          margin-bottom: 2.6rem;
          max-width: 17rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.4050000906;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
        }
        .infohogwartind-xoT {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4050000509;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
        }
      }
      .tengah-6em {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .campus-medan-fC5 {
          font-weight: 700;
          line-height: 0.9170000076;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.5rem;
          font-size: 2rem;
        }
        .ti-hg-957-oJH {
          font-weight: 500;
          line-height: 1.4050000906;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 1.6rem;
        }
        .medan-wQV {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4050000509;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .facebook-UQR {
      left: 19rem;
      top: 20.3rem;
      display: flex;
      box-sizing: border-box;
      width: 13.3rem;
      height: 5rem;
      position: absolute;
      padding: 1rem 2.1rem 1rem 1rem;
      align-items: center;
      background-color: #f1f6ff;
      border-radius: 10.3rem;

      .logo-NVo {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .facebook-ukd {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 0.9169999957;
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
      }
    }
    .linkedin-dgd {
      background-color: #f1f6ff;
      border-radius: 10.3rem;
      padding: 1rem 1.7rem 1rem 1rem;
      align-items: center;
      height: 5rem;
      position: absolute;
      left: 19rem;
      top: 27.8rem;
      display: flex;
      box-sizing: border-box;
      width: 12.1rem;

      .logo-Lb3 {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.6rem;
      }
      .linkedin-GzV {
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 0.9169999957;
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .instagram-CdF {
      position: absolute;
      background-color: #f1f6ff;
      border-radius: 10.3rem;
      box-sizing: border-box;
      padding: 1rem 2rem 1rem 1rem;
      height: 5rem;
      display: flex;
      align-items: center;
      width: 13.4rem;
      left: 19rem;
      top: 35rem;

      .group-W89 {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.6rem;
      }
      .instagram-3tm {
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 0.9169999957;
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-y1j {
    height: 27.5rem;
    top: 267.1rem;
    font-weight: 700;
    font-size: 5rem;
    line-height: 1;
    color: #ffffff;
    font-family: Google Sans, 'Source Sans Pro';
    width: 79.9rem;
    position: absolute;
    left: 18rem;

    .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-y1j-sub-0 {
      font-weight: 700;
      line-height: 1;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
      font-size: 5rem;
    }
    .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-y1j-sub-1 {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
    }
  }
}
