
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.base-homescreen-1Qd {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 12rem;

  .auto-group-khh5-tzD {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 323.1rem;

    .background-cvD {
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 194.8rem;
      height: 323.1rem;
      position: absolute;
      left: 0;

      .auto-group-zvef-ERo {
        margin-bottom: 7.2rem;
        width: 100%;
        height: 182.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-z4lt-yPP {
          margin-right: 9.1rem;
          width: 114.6rem;
          height: 100%;
          flex-shrink: 0;

          .ellipse-2-unq {
            filter: blur(17.75rem);
            background-color: rgba(255, 197, 13, 0.2300000042);
            border-radius: 35.55rem;
            margin-bottom: 38.6rem;
            width: 71.1rem;
            height: 71.1rem;
          }
          .auto-group-grb1-DoX {
            margin-left: 27.6rem;
            width: calc(100% - 27.6rem);
            display: flex;
            align-items: flex-start;

            .ellipse-7-y21 {
              flex-shrink: 0;
              margin-right: 2.6rem;
              width: 34.6rem;
              height: 34.6rem;
              filter: blur(17.75rem);
              background-color: rgba(4, 180, 107, 0.75);
              border-radius: 17.3rem;
            }
            .ellipse-3-gSD {
              background-color: rgba(255, 87, 40, 0.400000006);
              border-radius: 24.9rem;
              flex-shrink: 0;
              margin-top: 23rem;
              width: 49.8rem;
              height: 49.8rem;
              filter: blur(17.75rem);
            }
          }
        }
        .ellipse-1-o13 {
          flex-shrink: 0;
          margin-bottom: 4.2rem;
          width: 71.1rem;
          height: 71.1rem;
          filter: blur(17.75rem);
          background-color: rgba(255, 197, 13, 0.5);
          border-radius: 35.55rem;
        }
      }
      .auto-group-wuby-KEH {
        margin: 0rem 17.2rem 0rem 11.4rem;
        width: calc(100% - 28.6rem);
        height: 133.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-5-dEy {
          margin: 0rem 58rem 3.4rem 0rem;
          width: 49.8rem;
          height: 49.8rem;
          filter: blur(17.75rem);
          background-color: #ffc50d;
          border-radius: 24.9rem;
          flex-shrink: 0;
        }
        .auto-group-z4us-LfB {
          flex-shrink: 0;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .ellipse-6-gyw {
            height: 49.8rem;
            filter: blur(17.75rem);
            background-color: #0458de;
            border-radius: 24.9rem;
            flex-shrink: 0;
            margin: 0rem 0rem 33.8rem 8.6rem;
            width: 49.8rem;
          }
          .ellipse-4-1WR {
            filter: blur(17.75rem);
            background-color: #7edbd5;
            border-radius: 24.9rem;
            flex-shrink: 0;
            margin-right: 8.6rem;
            width: 49.8rem;
            height: 49.8rem;
          }
        }
      }
    }
    .faculty-L2u {
      position: absolute;
      left: 8.2rem;
      top: 165.5rem;
      width: 131.1669rem;
      height: 125.9rem;

      .bg-fakultas-qkM {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 131.1669rem;
        height: 125.9rem;
        position: absolute;
        left: 0;
      }
      .fakultas-n9o {
        height: 82.4rem;
        top: 29rem;
        display: flex;
        flex-direction: column;
        width: 105.996rem;
        left: 11.0578rem;
        row-gap: 4rem;
        align-items: center;
        position: absolute;

        .auto-group-imcp-V4D {
          flex-shrink: 0;
          margin-left: 0.0996rem;
          width: calc(100% - 0.0996rem);
          height: 24.8rem;
          display: flex;
          align-items: center;

          .fakultas-1-cPj {
            box-sizing: border-box;
            padding: 2.6rem 7.817rem 2.7rem 2.69rem;
            align-items: center;
            backdrop-filter: blur(3rem);
            border-radius: 3rem 0 3rem 0;
            flex-shrink: 0;
            margin-right: 4.0844rem;
            height: 100%;
            display: flex;
            background-color: rgba(255, 255, 255, 0.5);

            .item-15-ihf {
              margin-right: 3.8852rem;
              width: 19.426rem;
              height: 19.5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .text-SNm {
              margin: 1.8rem 0rem 1rem 0rem;
              width: 17.0879rem;
              height: calc(100% - 2.8rem);
              flex-shrink: 0;

              .informatics-engineering-Mkd {
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
                margin-bottom: 2.2rem;
                max-width: 10.7rem;
                font-size: 2rem;
              }
              .keahlian-Fb7 {
                margin: 0rem 4.7rem 0.9rem 0.199rem;
                width: calc(100% - 4.8992rem);
                display: flex;
                align-items: center;

                .vector-nL9 {
                  flex-shrink: 0;
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .programming-JZP {
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
              .keahlian-dLm {
                margin: 0rem 0rem 2.2rem 0.199rem;
                width: calc(100% - 0.1992rem);
                display: flex;
                align-items: center;

                .vector-ZVK {
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .mobile-development-6EM {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .learn-more-pg9 {
                text-decoration-line: underline;
                color: #ff5728;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-left: 0.1992rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
              }
            }
          }
          .fakultas-2-hjw {
            display: flex;
            align-items: center;
            backdrop-filter: blur(3rem);
            background-color: rgba(255, 255, 255, 0.5);
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;
            border-radius: 3rem 0 3rem 0;
            padding: 2.6rem 6.018rem 2.7rem 2.69rem;

            .item-17-2nD {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 3.8852rem;
              width: 19.426rem;
              height: 19.5rem;
              object-fit: cover;
            }
            .auto-group-rkpd-yBf {
              height: calc(100% - 2.8rem);
              flex-shrink: 0;
              margin: 1.8rem 0rem 1rem 0rem;
              width: 18.8875rem;

              .electrical-engineering-tpR {
                font-family: Google Sans, 'Source Sans Pro';
                margin-bottom: 2.2rem;
                max-width: 10.7rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
              }
              .keahlian-1u3 {
                margin: 0rem 6.736rem 0.9rem 0.299rem;
                width: calc(100% - 7.0351rem);
                display: flex;
                align-items: center;

                .vector-YPB {
                  margin: 0rem 0.86rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .pro-electrical-58D {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .keahlian-1Xf {
                align-items: center;
                margin: 0rem 0rem 2.2rem 0.299rem;
                width: calc(100% - 0.2989rem);
                display: flex;

                .vector-YXb {
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .electrical-development-HEH {
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
              .learn-more-d3F {
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-left: 0.2989rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
                text-decoration-line: underline;
                color: #ff5728;
              }
            }
          }
        }
        .auto-group-hxoh-6xR {
          height: 24.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 0.0996rem;
          width: calc(100% - 0.0996rem);

          .fakultas-3-Rjo {
            align-items: center;
            display: flex;
            backdrop-filter: blur(3rem);
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 3rem 0 3rem 0;
            margin-right: 4.0844rem;
            box-sizing: border-box;
            padding: 2.6rem 11.517rem 2.7rem 2.789rem;
            height: 100%;
            flex-shrink: 0;

            .item-7-wTF {
              flex-shrink: 0;
              margin-right: 3.7856rem;
              width: 19.426rem;
              height: 19.5rem;
              object-fit: cover;
              vertical-align: top;
            }
            .text-fu3 {
              margin: 1.8rem 0rem 1rem 0rem;
              width: 13.3878rem;
              height: calc(100% - 2.8rem);
              flex-shrink: 0;

              .multimedia-expent-Q5w {
                margin-bottom: 2.2rem;
                max-width: 10.1rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
              }
              .keahlian-Kih {
                margin: 0rem 1.1rem 0.9rem 0.199rem;
                width: calc(100% - 1.2992rem);
                display: flex;
                align-items: center;

                .vector-rTj {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                }
                .d-animation-Ngy {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .keahlian-WoB {
                margin: 0rem 0rem 2.2rem 0.199rem;
                width: calc(100% - 0.1992rem);
                display: flex;
                align-items: center;

                .vector-TCd {
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                }
                .graphic-motion-BPX {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .learn-more-hcm {
                margin-left: 0.1992rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
                text-decoration-line: underline;
                color: #ff5728;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .fakultas-4-bTF {
            height: 100%;
            display: flex;
            align-items: center;
            backdrop-filter: blur(3rem);
            background-color: rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            padding: 2.6rem 7.154rem 2.7rem 2.789rem;
            border-radius: 3rem 0 3rem 0;
            flex-shrink: 0;

            .item-6-Ku3 {
              margin-right: 3.7558rem;
              width: 19.426rem;
              height: 19.5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-kj95-TEZ {
              margin: 1.8rem 0rem 1rem 0rem;
              width: 17.7806rem;
              height: calc(100% - 2.8rem);
              flex-shrink: 0;

              .videography-expert-a4H {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
                margin-bottom: 2.2rem;
                max-width: 11.2rem;
              }
              .keahlian-Vh3 {
                display: flex;
                align-items: center;
                margin: 0rem 0rem 0.9rem 0.329rem;
                width: calc(100% - 0.3286rem);

                .vector-Eed {
                  margin: 0rem 0.86rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .professional-filmaker-B45 {
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                }
              }
              .keahlian-i41 {
                margin: 0rem 5.063rem 2.2rem 0.329rem;
                width: calc(100% - 5.392rem);
                display: flex;
                align-items: center;

                .vector-quK {
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .expert-editing-ac1 {
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
              .learn-more-vQy {
                white-space: nowrap;
                margin-left: 0.3286rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
                text-decoration-line: underline;
                color: #ff5728;
                font-family: Google Sans, 'Source Sans Pro';
              }
            }
          }
        }
        .auto-group-tjhv-d4V {
          width: calc(100% - 0.0996rem);
          height: 24.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 0.0996rem;

          .fakultas-5-NGy {
            margin-right: 4.0844rem;
            padding: 2.6rem 9.217rem 2.6rem 2.69rem;
            height: 100%;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 3rem 0 3rem 0;
            flex-shrink: 0;
            box-sizing: border-box;
            display: flex;
            backdrop-filter: blur(3rem);

            .item-16-Heq {
              width: 19.5256rem;
              height: 19.6rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 3.8137rem;
            }
            .text-E4H {
              width: 15.6597rem;
              height: calc(100% - 2.9rem);
              flex-shrink: 0;
              margin: 1.8rem 0rem 1.1rem 0rem;

              .communication-technology-kYR {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
                margin-bottom: 2.2rem;
                max-width: 14.1rem;
              }
              .keahlian-Gmf {
                margin: 0rem 1.7rem 0.9rem 0.171rem;
                width: calc(100% - 1.8711rem);
                display: flex;
                align-items: center;

                .vector-1DT {
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .communication-vrD {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .keahlian-sFf {
                margin: 0rem 0rem 2.2rem 0.171rem;
                width: calc(100% - 0.1711rem);
                display: flex;
                align-items: center;

                .vector-cDF {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                }
                .tech-development-Luw {
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
              .learn-more-tAm {
                margin-left: 0.1711rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
                text-decoration-line: underline;
                color: #ff5728;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .fakultas-6-nG9 {
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);
            flex-shrink: 0;
            padding: 2.5rem 6.318rem 2.7rem 2.69rem;
            height: 100%;
            backdrop-filter: blur(3rem);
            border-radius: 3rem 0 3rem 0;
            box-sizing: border-box;

            .item-11-HCu {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 3.7856rem;
              width: 19.5256rem;
              height: 19.6rem;
            }
            .auto-group-28ax-bDb {
              margin: 1.9rem 0rem 1rem 0rem;
              width: 18.5875rem;
              height: calc(100% - 2.9rem);
              flex-shrink: 0;

              .mechanical-engineering-sgu {
                max-width: 10.7rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
                margin-bottom: 2.2rem;
              }
              .keahlian-zFj {
                margin: 0rem 3.137rem 0.9rem 0.299rem;
                width: calc(100% - 3.4354rem);
                display: flex;
                align-items: center;

                .vector-KJ1 {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.86rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                }
                .mechanical-expert-rYq {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .keahlian-Q4Z {
                margin: 0rem 0rem 2.2rem 0.299rem;
                width: calc(100% - 0.2989rem);
                display: flex;
                align-items: center;

                .vector-jsX {
                  flex-shrink: 0;
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .engineer-development-GsT {
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                }
              }
              .learn-more-25w {
                text-decoration-line: underline;
                color: #ff5728;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-left: 0.2989rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
              }
            }
          }
        }
      }
      .choose-your-major-iDf {
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 39.3rem;
        left: 11.166rem;
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 1.2575;
        height: 6.1rem;
        position: absolute;
        top: 13.4rem;
      }
      .major-offering-applicants-oku {
        width: 20.2rem;
        height: 2.3rem;
        position: absolute;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        left: 11.1575rem;
        top: 21.5rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #000000;
      }
    }
    .mission-6k1 {
      display: flex;
      align-items: center;
      width: 115rem;
      height: 57.9rem;
      position: absolute;
      left: 8.2rem;
      top: 91.9rem;

      .mission-S3B {
        margin-right: 14.4rem;
        width: 72.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-yJ1 {
          width: 72.8rem;
          height: 54.2rem;
          position: absolute;
          left: 0;
          top: 0;

          .vector-6-Woj {
            margin-left: 6.9rem;
            width: 6.95rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .rectangle-6-Tiy {
            box-shadow: 0 0.4rem 6rem rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(3rem);
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 6rem 0 6rem 0;
            width: 100%;
            height: 48.2rem;
          }
        }
        .text-xQq {
          position: absolute;
          left: 6.9rem;
          top: 12rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 55.4rem;
          height: 36.6rem;

          .mission-vision-Uty {
            font-weight: 700;
            line-height: 1.2575;
            flex-shrink: 0;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.8rem 0.6rem;
            font-size: 5rem;
            letter-spacing: -0.05rem;
            color: #000000;
          }
          .mission-AWu {
            align-items: flex-start;
            flex-shrink: 0;
            margin-bottom: 2.2rem;
            width: 100%;
            display: flex;

            .mission-iYR {
              margin: 0.7rem 6.5rem 0rem 0rem;
              font-weight: 700;
              line-height: 1.2575;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              letter-spacing: 0.1rem;
              color: #000000;
            }
            .to-provide-both-indonesia-and-foreign-students-with-excelent-higher-education-within-a-wide-range-of-managerial-economic-and-informatics-as-well-as-other-degree-of-programmers-of-bachelors-masters-and-doctoral-levels-dQV {
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 40.5rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.9720000029;
            }
          }
          .vision-sJq {
            margin-right: 0.9rem;
            width: calc(100% - 0.9rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .vision-oyB {
              line-height: 1.2575;
              letter-spacing: 0.1rem;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.7rem 8.1rem 0rem 0rem;
              font-size: 2rem;
              font-weight: 700;
              color: #000000;
            }
            .to-assume-the-role-of-a-leader-in-the-markket-of-managerial-economic-and-informatics-education-in-central-european-countries-iqF {
              flex-shrink: 0;
              max-width: 39.6rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.9720000029;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
            }
          }
        }
        .overlay-o61 {
          width: 62.85rem;
          height: 57.9rem;
          position: absolute;
          left: 6.9rem;
          top: 0;

          .vector-6-L5w {
            width: 6.95rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            margin-bottom: 41.65rem;
          }
          .vector-7-S8y {
            height: 10.25rem;
            object-fit: contain;
            vertical-align: top;
            margin-left: 50.5rem;
            width: 12.35rem;
          }
        }
      }
      .student-N2d {
        margin: 8.2rem 0rem 5.9rem 0rem;
        height: calc(100% - 14.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rect-V7F {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 2.2rem;
          height: 43.8rem;
        }
        .text-Dow {
          flex-shrink: 0;
          margin: 3rem 0rem 2.9rem 0rem;
          width: 22.4rem;
          height: calc(100% - 5.9rem);

          .students-k3B {
            margin-bottom: 5.4rem;
            display: flex;
            flex-direction: column;

            .item-14000-J4h {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.3rem;
              font-size: 5rem;
              font-weight: 700;
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
            }
            .students-poj {
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .since-Ach {
            margin-bottom: 5.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .since1950-7Xw {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-size: 5rem;
              font-weight: 700;
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
            }
            .founded-enm {
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
          }
          .since-bCD {
            display: flex;
            flex-direction: column;

            .major-9zR {
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-size: 5rem;
              font-weight: 700;
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .offering-applicants-VYV {
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
            }
          }
        }
      }
    }
    .home-Rh3 {
      width: 130.3rem;
      height: 70.2rem;
      position: absolute;
      left: 8.2rem;
      top: 9.7rem;

      .bg-ZHT {
        width: 63.2863rem;
        height: 67.0688rem;
        position: absolute;
        left: 63.4125rem;
        top: 3.1312rem;

        .vector-h8m {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 63.2863rem;
          height: 60.5801rem;
        }
        .vector-4-e41 {
          left: 7.8875rem;
          top: 17.8688rem;
          object-fit: contain;
          vertical-align: top;
          width: 48.5rem;
          height: 42rem;
          position: absolute;
        }
        .image-2-B3w {
          width: 37.2rem;
          height: 37.3rem;
          position: absolute;
          left: 21.9875rem;
          top: 14.4688rem;
          object-fit: cover;
          vertical-align: top;
        }
        .vector-5-i3s {
          position: absolute;
          left: 55.3875rem;
          top: 59.8188rem;
          object-fit: contain;
          vertical-align: top;
          width: 7.2rem;
          height: 7.25rem;
        }
      }
      .text-eCR {
        width: 74rem;
        height: 24rem;
        position: absolute;
        left: 0;
        top: 15.2rem;

        .hogwart-international-school-nZX {
          font-size: 7.5rem;
          font-weight: 700;
          line-height: 1.0301218149;
          color: #1e1e1e;
          font-family: Google Sans, 'Source Sans Pro';
          margin-bottom: 2.6rem;
          max-width: 74rem;
        }
        .auto-group-crvk-7bo {
          margin-right: 13.5rem;
          width: calc(100% - 13.5rem);
          display: flex;
          align-items: center;

          .item--ebj {
            margin-right: 7.4rem;
            font-size: 6.4rem;
            color: #ffc50d;
            white-space: nowrap;
            font-family: Google Sans, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: right;
            font-weight: 700;
            line-height: 0.9169999957;
            font-style: italic;
          }
          .computer-science-mAZ {
            font-family: Google Sans, 'Source Sans Pro';
            text-align: right;
            font-size: 6.4rem;
            line-height: 0.9169999957;
            font-style: italic;
            color: #1e1e1e;
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .rectangle-5ww {
        left: 0;
        top: 44.2rem;
        display: flex;
        align-items: center;
        border-radius: 7.8rem;
        width: 38.6rem;
        height: 7rem;
        position: absolute;

        .rect-kiri-DoF {
          width: 18.2rem;
          height: 100%;
          font-weight: 700;
          flex-shrink: 0;
          margin-right: 2.2rem;
          cursor: pointer;
          white-space: nowrap;
          font-size: 1.5rem;
          line-height: 0.9170000076;
          display: flex;
          justify-content: center;
          background-color: #000000;
          border-radius: 7.8rem;
          text-align: right;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          align-items: center;
        }
        .rect-kanan-54m {
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          border-radius: 7.8rem;
          width: 18.2rem;
          height: 100%;
          justify-content: center;
          text-align: right;
          line-height: 0.9170000288;
          align-items: center;
          flex-shrink: 0;
          border: solid 0.3rem #000000;
          box-sizing: border-box;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
      .rect-bawah-Kzh {
        width: 43.8rem;
        height: 5rem;
        position: absolute;
        left: 0.1rem;
        top: 58.5rem;
        display: flex;
        column-gap: 2.5rem;
        align-items: center;

        .facebook-eXB {
          height: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(195, 206, 226, 0.4799999893);
          border-radius: 10.3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 2.1rem 1rem 1rem;

          .logo-PDs {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
          }
          .facebook-XL5 {
            font-weight: 500;
            line-height: 0.9169999957;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
          }
        }
        .linkedin-RwF {
          padding: 1rem 1.7rem 1rem 1rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(195, 206, 226, 0.4799999893);
          border-radius: 10.3rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .logo-N5o {
            margin-right: 0.6rem;
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .linkedin-JVF {
            margin-top: 0.1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 0.9169999957;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .instagram-pTb {
          box-sizing: border-box;
          padding: 1rem 2rem 1rem 1rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(195, 206, 226, 0.4799999893);
          border-radius: 10.3rem;
          flex-shrink: 0;

          .group-9Ey {
            margin-right: 0.6rem;
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .instagram-gVo {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 0.9169999957;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
          }
        }
      }
      .photo-bsf {
        width: 69.2rem;
        height: 65.2rem;
        position: absolute;
        left: 61.1rem;
        top: 0;

        .photo-1-LaM {
          width: 28.8rem;
          height: 28.8rem;
          position: absolute;
          left: 23.5rem;
          top: 0;

          .rectangle-4-UwT {
            left: 2.4rem;
            top: 9rem;
            backdrop-filter: blur(3rem);
            background-color: rgba(1, 107, 225, 0.400000006);
            border-radius: 3rem 0 3rem 0;
            width: 19.3rem;
            height: 19.5rem;
            position: absolute;
          }
          .e3dcd4d6a8877b025580caa473f56443-sticker-1-zQ1 {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 28.8rem;
            height: 28.8rem;
            position: absolute;
            left: 0;
          }
        }
        .photo-2-i57 {
          width: 25.5rem;
          height: 25.5rem;
          position: absolute;
          left: 0;
          top: 33.3rem;

          .rectangle-4-48y {
            width: 19.3rem;
            height: 22.2rem;
            position: absolute;
            left: 4.7rem;
            top: 2.9rem;
            backdrop-filter: blur(3rem);
            background-color: rgba(255, 87, 40, 0.400000006);
            border-radius: 0 3rem 0 3rem;
          }
          .ee3d7e4a75aa33dd871af5752d0378-sticker-1-Aho {
            height: 25.5rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 25.5rem;
          }
        }
        .photo-5-gw3 {
          width: 23.8rem;
          height: 23.8rem;
          position: absolute;
          left: 45.2rem;
          top: 41.4rem;

          .rectangle-4-Dvy {
            background-color: rgba(4, 180, 107, 0.400000006);
            border-radius: 0 3rem 0 3rem;
            width: 19.3rem;
            height: 22.1rem;
            position: absolute;
            left: 2.2rem;
            top: 0;
            backdrop-filter: blur(3rem);
          }
          .e659b50ed80dccb797d20e562-sticker-1-wc5 {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 23.8rem;
            height: 23.8rem;
          }
        }
        .photo-3-G8Z {
          position: absolute;
          left: 24.5rem;
          top: 30.4rem;
          width: 22.1rem;
          height: 22.1rem;

          .rectangle-4-bgd {
            left: 1.4rem;
            top: 0;
            backdrop-filter: blur(3rem);
            background-color: rgba(137, 137, 137, 0.400000006);
            border-radius: 3rem 0 3rem 0;
            width: 19.3rem;
            height: 22.1rem;
            position: absolute;
          }
          .c06f8d8a69fb8d04ba1fb91d1661-sticker-1-7us {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 22.1rem;
            height: 22.1rem;
          }
        }
        .photo-4-Sx9 {
          height: 25.9rem;
          position: absolute;
          left: 43.3rem;
          top: 15.2rem;
          width: 25.9rem;

          .rectangle-4-b4M {
            backdrop-filter: blur(3rem);
            background-color: rgba(6, 193, 174, 0.400000006);
            border-radius: 3rem 0 3rem 0;
            width: 19.6rem;
            height: 22.1rem;
            position: absolute;
            left: 4rem;
            top: 2.2rem;
          }
          .d66e8503c9cd49a92b323209f839bb7a-sticker-1-6mo {
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 25.9rem;
            height: 25.9rem;
            position: absolute;
          }
        }
      }
    }
    .navbar-DbX {
      position: absolute;
      top: 0;
      display: flex;
      backdrop-filter: blur(2rem);
      padding: 1.6rem 8rem 1.8rem 7.1rem;
      width: 144rem;
      left: 0;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.5);
      box-sizing: border-box;
      height: 12.8rem;

      .logo-1-Jss {
        margin-right: 25.3rem;
        width: 9.4rem;
        height: 9.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .text-eRw {
        margin: 3.6rem 19.6rem 3.7rem 0rem;
        box-sizing: border-box;
        padding: 0rem 18.9rem 0rem 18rem;
        height: calc(100% - 7.3rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .staff-intranet-LpZ {
          flex-shrink: 0;
          margin-right: 3.7rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .about-hogwart-frq {
          font-weight: 500;
          line-height: 1.2575;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.6rem;
        }
      }
      .kanan-oCM {
        flex-shrink: 0;
        margin: 2.4rem 0rem 3rem 0rem;
        height: calc(100% - 5.4rem);
        display: flex;
        align-items: center;

        .vector-KgV {
          margin: 0.2rem 2.5rem 0rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .en-eyf {
          margin: 1rem 2.3rem 0.8rem 0rem;
          height: calc(100% - 1.8rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .en-PgM {
            line-height: 1.2575;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 1.7rem;
            font-weight: 500;
          }
          .vector-1-LLh {
            height: 0.65rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.05rem;
            width: 1rem;
          }
        }
        .profile-Gk9 {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .contact-Bs7 {
    margin: 0rem 8.497rem 0rem 7.7rem;
    width: calc(100% - 16.1974rem);
    height: 68.2rem;
    position: relative;
    flex-shrink: 0;

    .contact-bg-i6M {
      position: absolute;
      left: 0;
      border-radius: 6rem 0 6rem 0;
      box-sizing: border-box;
      width: 127.8026rem;
      height: 68.2rem;
      padding: 42.85rem 11.2rem 20.9rem 11.2rem;
      top: 0;
      background-color: #0458de;

      .vector-10-Doo {
        width: 14rem;
        height: 4.45rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .text-bg-k33 {
      top: 12.1rem;
      width: 51.1rem;
      height: 45.2rem;
      position: absolute;
      left: 65.8rem;

      .atas-5LD {
        font-size: 1.6rem;
        color: #8f8f8f;
        background-color: #ffffff;
        border-radius: 9rem;
        padding: 2rem 3.2rem 1.9rem 3.2rem;
        box-sizing: border-box;
        width: 100%;
        font-weight: 500;
        line-height: 1.9692924709;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.2rem;
      }
      .tengah-YUh {
        box-sizing: border-box;
        width: 100%;
        font-weight: 500;
        color: #8f8f8f;
        font-family: Google Sans, 'Source Sans Pro';
        border-radius: 9rem;
        margin-bottom: 2.1rem;
        font-size: 1.6rem;
        line-height: 1.9692924709;
        white-space: nowrap;
        background-color: #ffffff;
        padding: 2rem 3.2rem 1.9rem 3.2rem;
      }
      .bawah-2Ps {
        line-height: 1.9692924709;
        font-family: Google Sans, 'Source Sans Pro';
        border-radius: 3rem;
        margin-bottom: 2.8rem;
        padding: 1.8rem 3.2rem;
        font-weight: 500;
        font-size: 1.6rem;
        color: #8f8f8f;
        white-space: nowrap;
        background-color: #ffffff;
        box-sizing: border-box;
        width: 100%;
        height: 16.8rem;
      }
      .send-uTf {
        font-size: 1.6rem;
        line-height: 1.9692924709;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        background-color: #000000;
        border-radius: 9rem;
        width: 18.1rem;
        height: 7.1rem;
        font-weight: 500;
        font-family: Google Sans, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
      }
    }
    .text-Pdj {
      width: 39.2rem;
      height: 26.6rem;
      position: absolute;
      left: 10.8rem;
      top: 10.9rem;

      .write-your-contact-data-and-well-get-in-touch-with-you-8bK {
        line-height: 1.2228989864;
        letter-spacing: -0.075rem;
        color: #ffffff;
        font-family: Google Sans, 'Source Sans Pro';
        margin-bottom: 1.8rem;
        max-width: 39.2rem;
        font-size: 5rem;
        font-weight: 700;
      }
      .get-informed-about-current-news-or-well-get-in-touch-with-you-to-discuss-all-questions-Dcm {
        font-family: Google Sans, 'Source Sans Pro';
        max-width: 38.8rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9692924709;
        color: #ffffff;
      }
    }
  }
  .bg-uVb {
    width: 150.4175rem;
    height: 53.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-10-q8M {
      position: absolute;
      left: 0;
      top: 3.9rem;
      background-color: #f3f3f3;
      width: 144rem;
      height: 45.8rem;
    }
    .vector-10-mGu {
      height: 21.596rem;
      position: absolute;
      left: 129.2rem;
      top: 26.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 21.2175rem;
    }
    .vector-12-hRT {
      height: 6rem;
      position: absolute;
      left: 75.95rem;
      top: 4.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 7.65rem;
    }
    .vector-11-qXf {
      width: 45rem;
      height: 53.4rem;
      position: absolute;
      left: 2.85rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .logo-2-aEM {
      top: 8.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 9.4rem;
      height: 9.4rem;
      position: absolute;
      left: 17.4rem;
    }
    .text-W81 {
      display: flex;
      align-items: flex-start;
      width: 79.8rem;
      height: 35.3rem;
      position: absolute;
      left: 51.8rem;
      top: 10.4rem;

      .auto-group-mrkx-S1f {
        margin: 0.2rem 6.7rem 0rem 0rem;
        width: 26.4rem;
        flex-shrink: 0;

        .kiri--y1b {
          margin: 0rem 0rem 13rem 0.2rem;
          display: flex;
          flex-direction: column;

          .hogwart-international-school-hyB {
            margin-bottom: 1.5rem;
            max-width: 19.8rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 0.9170000076;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .based-on-medan-indonesia-qJh {
            line-height: 1.4050000906;
            color: #8d8d8d;
            font-family: Google Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 2.6rem;
            max-width: 11.5rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .tel-62-812-7507-6747-YU1 {
            margin-bottom: 2.2rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.4050000906;
            color: #8d8d8d;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .email-infohogwartind-5D3 {
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.4050000906;
            color: #8d8d8d;
          }
        }
        .auto-group-cbdu-1Mb {
          width: 100%;
          height: 3rem;
          position: relative;

          .hogwart-international-school-AEV {
            font-size: 1.6rem;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 24.6rem;
            height: 1.5rem;
            top: 0.1rem;
            font-weight: 700;
            line-height: 0.9169999957;
            position: absolute;
            left: 1.8rem;
          }
          .item--G2d {
            line-height: 0.9169999957;
            font-family: Google Sans, 'Source Sans Pro';
            position: absolute;
            font-size: 3.2rem;
            left: 0;
            top: 0;
            font-weight: 700;
            color: #000000;
            white-space: nowrap;
            width: 2.4rem;
            height: 3rem;
          }
        }
      }
      .tengah-mVB {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 9.8rem;
        display: flex;

        .infocentre-in-new-building-KFo {
          line-height: 0.9170000076;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.5rem;
          font-size: 2rem;
          font-weight: 700;
        }
        .open-mo-fr-900-1630-off-semester-900-1500-3Bo {
          max-width: 17rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.4050000906;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.6rem;
        }
        .infohogwartind-wY5 {
          font-weight: 500;
          line-height: 1.4050000509;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
      .tengah-58V {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .campus-medan-2pR {
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.5rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 0.9170000076;
          color: #000000;
        }
        .ti-hg-957-n2u {
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.4050000906;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .medan-v97 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4050000509;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .facebook-FSH {
      position: absolute;
      left: 19rem;
      display: flex;
      align-items: center;
      background-color: #f1f6ff;
      box-sizing: border-box;
      padding: 1rem 2.1rem 1rem 1rem;
      width: 13.3rem;
      height: 5rem;
      top: 20.3rem;
      border-radius: 10.3rem;

      .logo-Lid {
        margin-right: 0.7rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .facebook-vRw {
        line-height: 0.9169999957;
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
    .linkedin-SQH {
      top: 27.8rem;
      display: flex;
      align-items: center;
      padding: 1rem 1.7rem 1rem 1rem;
      position: absolute;
      left: 19rem;
      background-color: #f1f6ff;
      border-radius: 10.3rem;
      box-sizing: border-box;
      width: 12.1rem;
      height: 5rem;

      .logo-jeH {
        margin-right: 0.6rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .linkedin-dUm {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 0.9169999957;
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
      }
    }
    .instagram-wkM {
      position: absolute;
      left: 19rem;
      display: flex;
      background-color: #f1f6ff;
      border-radius: 10.3rem;
      box-sizing: border-box;
      padding: 1rem 2rem 1rem 1rem;
      width: 13.4rem;
      height: 5rem;
      top: 35rem;
      align-items: center;

      .group-ePs {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.6rem;
        width: 3rem;
        height: 3rem;
      }
      .instagram-nFB {
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 0.9169999957;
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
