
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.base-homescreen-backup-w1s {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-dgip-FHT {
    width: 100%;
    height: 323.1rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 74.2rem;

    .background-Ncy {
      width: 194.8rem;
      height: 323.1rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-mwxk-7Kf {
        margin-bottom: 7.2rem;
        width: 100%;
        height: 182.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ftcf-eaV {
          margin-right: 9.1rem;
          width: 114.6rem;
          height: 100%;
          flex-shrink: 0;

          .ellipse-2-bVj {
            background-color: rgba(255, 197, 13, 0.2300000042);
            border-radius: 35.55rem;
            margin-bottom: 38.6rem;
            width: 71.1rem;
            height: 71.1rem;
            filter: blur(17.75rem);
          }
          .auto-group-gcvz-6xH {
            margin-left: 27.6rem;
            width: calc(100% - 27.6rem);
            display: flex;
            align-items: flex-start;

            .ellipse-7-RUm {
              height: 34.6rem;
              filter: blur(17.75rem);
              background-color: rgba(4, 180, 107, 0.75);
              border-radius: 17.3rem;
              flex-shrink: 0;
              margin-right: 2.6rem;
              width: 34.6rem;
            }
            .ellipse-3-Y3b {
              margin-top: 23rem;
              width: 49.8rem;
              height: 49.8rem;
              filter: blur(17.75rem);
              background-color: rgba(255, 87, 40, 0.400000006);
              border-radius: 24.9rem;
              flex-shrink: 0;
            }
          }
        }
        .ellipse-1-qoP {
          margin-bottom: 4.2rem;
          width: 71.1rem;
          height: 71.1rem;
          filter: blur(17.75rem);
          background-color: rgba(255, 197, 13, 0.5);
          border-radius: 35.55rem;
          flex-shrink: 0;
        }
      }
      .auto-group-1j7v-Mmj {
        width: calc(100% - 28.6rem);
        height: 133.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 17.2rem 0rem 11.4rem;

        .ellipse-5-sEH {
          background-color: #ffc50d;
          border-radius: 24.9rem;
          flex-shrink: 0;
          margin: 0rem 58rem 3.4rem 0rem;
          width: 49.8rem;
          height: 49.8rem;
          filter: blur(17.75rem);
        }
        .auto-group-ptfh-NB3 {
          flex-shrink: 0;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .ellipse-6-7eR {
            width: 49.8rem;
            height: 49.8rem;
            filter: blur(17.75rem);
            background-color: #0458de;
            border-radius: 24.9rem;
            flex-shrink: 0;
            margin: 0rem 0rem 33.8rem 8.6rem;
          }
          .ellipse-4-32H {
            margin-right: 8.6rem;
            width: 49.8rem;
            height: 49.8rem;
            filter: blur(17.75rem);
            background-color: #7edbd5;
            border-radius: 24.9rem;
            flex-shrink: 0;
          }
        }
      }
    }
    .faculty-jvh {
      width: 131.1669rem;
      height: 125.9rem;
      position: absolute;
      left: 8.2rem;
      top: 165.5rem;

      .bg-fakultas-sX7 {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 131.1669rem;
        height: 125.9rem;
      }
      .fakultas-1tD {
        position: absolute;
        left: 11.0579rem;
        display: flex;
        flex-direction: column;
        width: 105.9959rem;
        height: 82.4rem;
        top: 29rem;
        row-gap: 4rem;
        align-items: center;

        .auto-group-5pef-jJR {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-left: 0.0996rem;
          width: calc(100% - 0.0996rem);
          height: 24.8rem;

          .fakultas-1-fC5 {
            margin-right: 4.0844rem;
            align-items: center;
            backdrop-filter: blur(3rem);
            border-radius: 3rem 0 3rem 0;
            background-color: rgba(255, 255, 255, 0.5);
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.6rem 7.817rem 2.7rem 2.69rem;
            height: 100%;
            display: flex;

            .item-15-BRK {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 3.8852rem;
              width: 19.4259rem;
              height: 19.5rem;
              object-fit: cover;
            }
            .text-huT {
              flex-shrink: 0;
              margin: 1.8rem 0rem 1rem 0rem;
              width: 17.0879rem;
              height: calc(100% - 2.8rem);

              .informatics-engineering-d2R {
                margin-bottom: 2.2rem;
                max-width: 10.7rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
              }
              .keahlian-64R {
                align-items: center;
                margin: 0rem 4.7rem 0.9rem 0.199rem;
                width: calc(100% - 4.8993rem);
                display: flex;

                .vector-cYZ {
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .programming-LUZ {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .keahlian-ek9 {
                margin: 0rem 0rem 2.2rem 0.199rem;
                width: calc(100% - 0.1993rem);
                display: flex;
                align-items: center;

                .vector-Bk5 {
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .mobile-development-W1f {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .learn-more-2Vo {
                line-height: 1.2575;
                text-decoration-line: underline;
                color: #ff5728;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-left: 0.1993rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
            }
          }
          .fakultas-2-hM3 {
            padding: 2.6rem 6.018rem 2.7rem 2.69rem;
            display: flex;
            align-items: center;
            backdrop-filter: blur(3rem);
            background-color: rgba(255, 255, 255, 0.5);
            flex-shrink: 0;
            box-sizing: border-box;
            border-radius: 3rem 0 3rem 0;
            height: 100%;

            .item-17-ciu {
              margin-right: 3.8852rem;
              width: 19.4259rem;
              height: 19.5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-uqtm-Luo {
              margin: 1.8rem 0rem 1rem 0rem;
              width: 18.8875rem;
              height: calc(100% - 2.8rem);
              flex-shrink: 0;

              .electrical-engineering-457 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
                margin-bottom: 2.2rem;
                max-width: 10.7rem;
              }
              .keahlian-B9j {
                margin: 0rem 6.736rem 0.9rem 0.299rem;
                width: calc(100% - 7.0351rem);
                display: flex;
                align-items: center;

                .vector-73P {
                  margin: 0rem 0.86rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .pro-electrical-qVB {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                }
              }
              .keahlian-Zg5 {
                margin: 0rem 0rem 2.2rem 0.299rem;
                width: calc(100% - 0.2989rem);
                display: flex;
                align-items: center;

                .vector-6AD {
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .electrical-development-23s {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                }
              }
              .learn-more-AA5 {
                margin-left: 0.2989rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
                text-decoration-line: underline;
                color: #ff5728;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .auto-group-povv-StH {
          align-items: center;
          flex-shrink: 0;
          margin-right: 0.0996rem;
          width: calc(100% - 0.0996rem);
          height: 24.8rem;
          display: flex;

          .fakultas-3-nSM {
            margin-right: 4.0844rem;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 3rem 0 3rem 0;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.6rem 11.517rem 2.7rem 2.789rem;
            height: 100%;
            display: flex;
            backdrop-filter: blur(3rem);

            .item-7-uWy {
              flex-shrink: 0;
              margin-right: 3.7856rem;
              width: 19.4259rem;
              height: 19.5rem;
              object-fit: cover;
              vertical-align: top;
            }
            .text-3NH {
              height: calc(100% - 2.8rem);
              flex-shrink: 0;
              margin: 1.8rem 0rem 1rem 0rem;
              width: 13.3878rem;

              .multimedia-expent-xk9 {
                max-width: 10.1rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
                margin-bottom: 2.2rem;
              }
              .keahlian-HXX {
                margin: 0rem 1.1rem 0.9rem 0.199rem;
                width: calc(100% - 1.2992rem);
                display: flex;
                align-items: center;

                .vector-Dg5 {
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.897rem 0.1rem 0rem;
                }
                .d-animation-YyF {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .keahlian-6E5 {
                display: flex;
                align-items: center;
                margin: 0rem 0rem 2.2rem 0.199rem;
                width: calc(100% - 0.1992rem);

                .vector-Rn9 {
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.897rem 0.1rem 0rem;
                }
                .graphic-motion-NBb {
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                }
              }
              .learn-more-t9w {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
                text-decoration-line: underline;
                color: #ff5728;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-left: 0.1992rem;
              }
            }
          }
          .fakultas-4-yx5 {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            backdrop-filter: blur(3rem);
            border-radius: 3rem 0 3rem 0;
            padding: 2.6rem 7.154rem 2.7rem 2.789rem;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            flex-shrink: 0;

            .item-6-uKw {
              margin-right: 3.7559rem;
              width: 19.4259rem;
              height: 19.5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-vbw3-Et1 {
              margin: 1.8rem 0rem 1rem 0rem;
              width: 17.7806rem;
              height: calc(100% - 2.8rem);
              flex-shrink: 0;

              .videography-expert-Yth {
                font-family: Google Sans, 'Source Sans Pro';
                margin-bottom: 2.2rem;
                max-width: 11.2rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
              }
              .keahlian-UXT {
                width: calc(100% - 0.3286rem);
                display: flex;
                align-items: center;
                margin: 0rem 0rem 0.9rem 0.329rem;

                .vector-u6y {
                  margin: 0rem 0.86rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .professional-filmaker-dHs {
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                }
              }
              .keahlian-AYh {
                margin: 0rem 5.063rem 2.2rem 0.329rem;
                width: calc(100% - 5.392rem);
                display: flex;
                align-items: center;

                .vector-6SM {
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                }
                .expert-editing-dSH {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .learn-more-Ah7 {
                font-weight: 400;
                line-height: 1.2575;
                text-decoration-line: underline;
                color: #ff5728;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-left: 0.3286rem;
                font-size: 1.6rem;
              }
            }
          }
        }
        .auto-group-xnqr-fNy {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 0.0996rem;
          width: calc(100% - 0.0996rem);
          height: 24.8rem;

          .fakultas-5-bnR {
            height: 100%;
            display: flex;
            backdrop-filter: blur(3rem);
            background-color: rgba(255, 255, 255, 0.5);
            flex-shrink: 0;
            margin-right: 4.0844rem;
            padding: 2.6rem 9.217rem 2.6rem 2.69rem;
            border-radius: 3rem 0 3rem 0;
            box-sizing: border-box;
            align-items: center;

            .item-16-8GZ {
              width: 19.5256rem;
              height: 19.6rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 3.8137rem;
            }
            .text-fXP {
              flex-shrink: 0;
              margin: 1.8rem 0rem 1.1rem 0rem;
              width: 15.6597rem;
              height: calc(100% - 2.9rem);

              .communication-technology-PiH {
                margin-bottom: 2.2rem;
                max-width: 14.1rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
              }
              .keahlian-WH7 {
                margin: 0rem 1.7rem 0.9rem 0.171rem;
                width: calc(100% - 1.8711rem);
                display: flex;
                align-items: center;

                .vector-3H3 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                }
                .communication-yAh {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .keahlian-uq3 {
                width: calc(100% - 0.1711rem);
                display: flex;
                align-items: center;
                margin: 0rem 0rem 2.2rem 0.171rem;

                .vector-TLm {
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .tech-development-ntq {
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                }
              }
              .learn-more-8Su {
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-left: 0.1711rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
                text-decoration-line: underline;
                color: #ff5728;
              }
            }
          }
          .fakultas-6-Dz9 {
            height: 100%;
            align-items: center;
            backdrop-filter: blur(3rem);
            background-color: rgba(255, 255, 255, 0.5);
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.5rem 6.318rem 2.7rem 2.69rem;
            display: flex;
            border-radius: 3rem 0 3rem 0;

            .item-11-xgq {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 3.7855rem;
              width: 19.5256rem;
              height: 19.6rem;
              object-fit: cover;
            }
            .auto-group-emcf-Vgm {
              width: 18.5875rem;
              height: calc(100% - 2.9rem);
              flex-shrink: 0;
              margin: 1.9rem 0rem 1rem 0rem;

              .mechanical-engineering-2Au {
                font-family: Google Sans, 'Source Sans Pro';
                margin-bottom: 2.2rem;
                max-width: 10.7rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #000000;
              }
              .keahlian-Yuw {
                margin: 0rem 3.137rem 0.9rem 0.299rem;
                width: calc(100% - 3.4355rem);
                display: flex;
                align-items: center;

                .vector-gFT {
                  margin: 0rem 0.86rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .mechanical-expert-p6m {
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                }
              }
              .keahlian-km7 {
                display: flex;
                align-items: center;
                margin: 0rem 0rem 2.2rem 0.299rem;
                width: calc(100% - 0.2989rem);

                .vector-guf {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.897rem 0.1rem 0rem;
                  width: 2.092rem;
                  height: 1.6rem;
                }
                .engineer-development-DPo {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Google Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .learn-more-MF7 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
                text-decoration-line: underline;
                color: #ff5728;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-left: 0.2989rem;
              }
            }
          }
        }
      }
      .choose-your-major-SnM {
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        line-height: 1.2575;
        font-family: Google Sans, 'Source Sans Pro';
        width: 39.3rem;
        height: 6.1rem;
        position: absolute;
        left: 11.166rem;
        top: 13.4rem;
        font-size: 4.8rem;
      }
      .major-offering-applicants-ijs {
        top: 21.5rem;
        font-size: 1.8rem;
        font-family: Google Sans, 'Source Sans Pro';
        position: absolute;
        height: 2.3rem;
        left: 11.1575rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #000000;
        white-space: nowrap;
        width: 20.2rem;
      }
    }
    .mission-NpR {
      left: 8.2rem;
      top: 91.9rem;
      display: flex;
      align-items: center;
      width: 115rem;
      height: 57.9rem;
      position: absolute;

      .mission-gKK {
        margin-right: 14.4rem;
        width: 72.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-RXo {
          left: 0;
          top: 0;
          width: 72.8rem;
          height: 54.2rem;
          position: absolute;

          .vector-6-mbf {
            margin-left: 6.9rem;
            width: 6.95rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .rectangle-6-uC5 {
            width: 100%;
            height: 48.2rem;
            box-shadow: 0 0.4rem 6rem rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(3rem);
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 6rem 0 6rem 0;
          }
        }
        .text-CS5 {
          display: flex;
          flex-direction: column;
          width: 55.4rem;
          height: 36.6rem;
          position: absolute;
          left: 6.9rem;
          top: 12rem;
          align-items: center;

          .mission-vision-jB7 {
            letter-spacing: -0.05rem;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 2.8rem 0.6rem;
            font-size: 5rem;
            font-weight: 700;
            line-height: 1.2575;
          }
          .mission-pyF {
            margin-bottom: 2.2rem;
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .mission-BJ1 {
              font-size: 2rem;
              letter-spacing: 0.1rem;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.7rem 6.5rem 0rem 0rem;
              font-weight: 700;
              line-height: 1.2575;
            }
            .to-provide-both-indonesia-and-foreign-students-with-excelent-higher-education-within-a-wide-range-of-managerial-economic-and-informatics-as-well-as-other-degree-of-programmers-of-bachelors-masters-and-doctoral-levels-tiD {
              max-width: 40.5rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.9720000029;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .vision-vuo {
            align-items: flex-start;
            flex-shrink: 0;
            margin-right: 0.9rem;
            width: calc(100% - 0.9rem);
            display: flex;

            .vision-URX {
              font-weight: 700;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0.7rem 8.1rem 0rem 0rem;
              font-size: 2rem;
              line-height: 1.2575;
              letter-spacing: 0.1rem;
              flex-shrink: 0;
            }
            .to-assume-the-role-of-a-leader-in-the-markket-of-managerial-economic-and-informatics-education-in-central-european-countries-B53 {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.9720000029;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 39.6rem;
            }
          }
        }
        .overlay-FKo {
          position: absolute;
          left: 6.9rem;
          top: 0;
          width: 62.85rem;
          height: 57.9rem;

          .vector-6-ass {
            vertical-align: top;
            margin-bottom: 41.65rem;
            width: 6.95rem;
            height: 6rem;
            object-fit: contain;
          }
          .vector-7-Jos {
            margin-left: 50.5rem;
            width: 12.35rem;
            height: 10.25rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .student-qJ1 {
        margin: 8.2rem 0rem 5.9rem 0rem;
        height: calc(100% - 14.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rect-xtR {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 2.2rem;
          height: 43.8rem;
          position: relative;
        }
        .text-6jj {
          height: calc(100% - 5.9rem);
          flex-shrink: 0;
          margin: 3rem 0rem 2.9rem 0rem;
          width: 22.4rem;

          .students-dDs {
            flex-direction: column;
            margin-bottom: 5.4rem;
            display: flex;

            .item-14000-BFP {
              margin-bottom: 0.3rem;
              font-size: 5rem;
              font-weight: 700;
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .students-Jau {
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
            }
          }
          .since-e8y {
            display: flex;
            flex-direction: column;
            margin-bottom: 5.3rem;
            width: 100%;

            .since1950-CRP {
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-size: 5rem;
              font-weight: 700;
            }
            .founded-XiZ {
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .since-UNu {
            display: flex;
            flex-direction: column;

            .major-SKj {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-size: 5rem;
              font-weight: 700;
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
            }
            .offering-applicants-NjB {
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
          }
        }
      }
    }
    .home-uDK {
      left: 8.2rem;
      top: 9.7rem;
      width: 130.3rem;
      height: 70.2rem;
      position: absolute;

      .bg-dQD {
        height: 67.0688rem;
        position: absolute;
        left: 63.4125rem;
        top: 3.1312rem;
        width: 63.2863rem;

        .vector-mFX {
          height: 60.5801rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 63.2863rem;
        }
        .vector-4-ucd {
          left: 7.8875rem;
          top: 17.8688rem;
          object-fit: contain;
          vertical-align: top;
          width: 48.5rem;
          height: 42rem;
          position: absolute;
        }
        .image-2-e4R {
          vertical-align: top;
          width: 37.2rem;
          height: 37.3rem;
          position: absolute;
          left: 21.9875rem;
          top: 14.4688rem;
          object-fit: cover;
        }
        .vector-5-Zx5 {
          position: absolute;
          left: 55.3875rem;
          top: 59.8188rem;
          object-fit: contain;
          vertical-align: top;
          width: 7.2rem;
          height: 7.25rem;
        }
      }
      .text-uW9 {
        left: 0;
        top: 15.2rem;
        width: 74rem;
        height: 24rem;
        position: absolute;

        .hogwart-international-school-3sF {
          font-weight: 700;
          line-height: 1.0301218149;
          color: #1e1e1e;
          font-family: Google Sans, 'Source Sans Pro';
          margin-bottom: 2.6rem;
          max-width: 74rem;
          font-size: 7.5rem;
        }
        .auto-group-oucs-Ned {
          align-items: center;
          margin-right: 13.5rem;
          width: calc(100% - 13.5rem);
          display: flex;

          .item--7s7 {
            margin-right: 7.4rem;
            font-style: italic;
            flex-shrink: 0;
            text-align: right;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 0.9169999957;
            color: #ffc50d;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .computer-science-SPb {
            color: #1e1e1e;
            flex-shrink: 0;
            font-style: italic;
            font-size: 6.4rem;
            font-weight: 500;
            line-height: 0.9169999957;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            text-align: right;
          }
        }
      }
      .rectangle-kfB {
        position: absolute;
        left: 0;
        top: 44.2rem;
        display: flex;
        align-items: center;
        border-radius: 7.8rem;
        width: 38.6rem;
        height: 7rem;

        .rect-kiri-Hv1 {
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          align-items: center;
          border-radius: 7.8rem;
          height: 100%;
          font-weight: 700;
          line-height: 0.9170000076;
          justify-content: center;
          margin-right: 2.2rem;
          width: 18.2rem;
          font-size: 1.5rem;
          white-space: nowrap;
          text-align: right;
          display: flex;
          background-color: #000000;
          flex-shrink: 0;
        }
        .rect-kanan-wUm {
          height: 100%;
          font-family: Google Sans, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 0.9170000288;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 18.2rem;
          font-size: 1.8rem;
          font-weight: 500;
          text-align: right;
          box-sizing: border-box;
          border-radius: 7.8rem;
          color: #000000;
          white-space: nowrap;
          border: solid 0.3rem #000000;
        }
      }
      .rect-bawah-nVP {
        align-items: center;
        width: 43.8rem;
        height: 5rem;
        position: absolute;
        left: 0.1rem;
        top: 58.5rem;
        display: flex;
        column-gap: 2.5rem;

        .facebook-toK {
          border-radius: 10.3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 2.1rem 1rem 1rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(195, 206, 226, 0.4799999893);

          .logo-2Pj {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
          }
          .facebook-y45 {
            line-height: 0.9169999957;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
        .linkedin-UWd {
          background-color: rgba(195, 206, 226, 0.4799999893);
          border-radius: 10.3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 1.7rem 1rem 1rem;
          height: 100%;
          display: flex;
          align-items: center;

          .logo-1mT {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
          }
          .linkedin-xRo {
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 0.9169999957;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .instagram-TtM {
          display: flex;
          align-items: center;
          background-color: rgba(195, 206, 226, 0.4799999893);
          border-radius: 10.3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 2rem 1rem 1rem;
          height: 100%;

          .group-bUm {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: 3rem;
            height: 3rem;
          }
          .instagram-LSM {
            font-weight: 500;
            line-height: 0.9169999957;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
          }
        }
      }
      .photo-eT3 {
        height: 65.2rem;
        position: absolute;
        left: 61.1rem;
        top: 0;
        width: 69.2rem;

        .photo-1-ykD {
          width: 28.8rem;
          height: 28.8rem;
          position: absolute;
          left: 23.5rem;
          top: 0;

          .rectangle-4-XFw {
            height: 19.5rem;
            position: absolute;
            left: 2.4rem;
            top: 9rem;
            backdrop-filter: blur(3rem);
            background-color: rgba(1, 107, 225, 0.400000006);
            border-radius: 3rem 0 3rem 0;
            width: 19.3rem;
          }
          .e3dcd4d6a8877b025580caa473f56443-sticker-1-Rs7 {
            width: 28.8rem;
            height: 28.8rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .photo-2-k8h {
          left: 0;
          top: 33.3rem;
          width: 25.5rem;
          height: 25.5rem;
          position: absolute;

          .rectangle-4-HeR {
            position: absolute;
            left: 4.7rem;
            top: 2.9rem;
            backdrop-filter: blur(3rem);
            background-color: rgba(255, 87, 40, 0.400000006);
            border-radius: 0 3rem 0 3rem;
            width: 19.3rem;
            height: 22.2rem;
          }
          .ee3d7e4a75aa33dd871af5752d0378-sticker-1-PxM {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 25.5rem;
            height: 25.5rem;
          }
        }
        .photo-5-X2y {
          height: 23.8rem;
          position: absolute;
          left: 45.2rem;
          top: 41.4rem;
          width: 23.8rem;

          .rectangle-4-ThK {
            height: 22.1rem;
            position: absolute;
            left: 2.2rem;
            top: 0;
            backdrop-filter: blur(3rem);
            background-color: rgba(4, 180, 107, 0.400000006);
            border-radius: 0 3rem 0 3rem;
            width: 19.3rem;
          }
          .e659b50ed80dccb797d20e562-sticker-1-mxu {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 23.8rem;
            height: 23.8rem;
          }
        }
        .photo-3-6EV {
          width: 22.1rem;
          height: 22.1rem;
          position: absolute;
          left: 24.5rem;
          top: 30.4rem;

          .rectangle-4-E5o {
            height: 22.1rem;
            position: absolute;
            left: 1.4rem;
            top: 0;
            backdrop-filter: blur(3rem);
            background-color: rgba(137, 137, 137, 0.400000006);
            border-radius: 3rem 0 3rem 0;
            width: 19.3rem;
          }
          .c06f8d8a69fb8d04ba1fb91d1661-sticker-1-Y6V {
            vertical-align: top;
            width: 22.1rem;
            height: 22.1rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
          }
        }
        .photo-4-3Z3 {
          width: 25.9rem;
          height: 25.9rem;
          position: absolute;
          left: 43.3rem;
          top: 15.2rem;

          .rectangle-4-nFj {
            left: 4rem;
            top: 2.2rem;
            backdrop-filter: blur(3rem);
            background-color: rgba(6, 193, 174, 0.400000006);
            border-radius: 3rem 0 3rem 0;
            width: 19.6rem;
            height: 22.1rem;
            position: absolute;
          }
          .d66e8503c9cd49a92b323209f839bb7a-sticker-1-fqK {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 25.9rem;
            height: 25.9rem;
            position: absolute;
            left: 0;
          }
        }
      }
    }
    .navbar-jaH {
      width: 144rem;
      background-color: rgba(255, 255, 255, 0.5);
      box-sizing: border-box;
      padding: 1.6rem 8rem 1.8rem 7.1rem;
      height: 12.8rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      backdrop-filter: blur(2rem);

      .logo-1-qNR {
        margin-right: 25.3rem;
        width: 9.4rem;
        height: 9.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .text-MrZ {
        margin: 3.6rem 19.6rem 3.7rem 0rem;
        height: calc(100% - 7.3rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .alumni-UAV {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 3.3rem;
          height: 100%;

          .alumni-cnV {
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #000000;
          }
          .vector-1-k81 {
            height: 0.65rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.05rem;
            width: 1rem;
          }
        }
        .media-UJu {
          line-height: 1.2575;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.7rem;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .staff-intranet-QyF {
          margin-right: 3.7rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .about-hogwart-xE5 {
          line-height: 1.2575;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.2rem;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .office-VUu {
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.5rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #000000;
        }
        .contact-us-EhP {
          font-weight: 500;
          line-height: 1.2575;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
      .kanan-Nob {
        margin: 2.4rem 0rem 3rem 0rem;
        height: calc(100% - 5.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .vector-uoX {
          margin: 0.2rem 2.5rem 0rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .en-3eq {
          margin: 1rem 2.3rem 0.8rem 0rem;
          height: calc(100% - 1.8rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .en-Bm3 {
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 1.7rem;
            font-weight: 500;
            line-height: 1.2575;
          }
          .vector-1-wER {
            height: 0.65rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.05rem;
            width: 1rem;
          }
        }
        .profile-5bX {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
  .contact-zCh {
    height: 68.2rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 7.997rem 6.9rem 8.2rem;
    width: calc(100% - 16.1974rem);

    .contact-bg-uqT {
      top: 0;
      border-radius: 6rem 0 6rem 0;
      box-sizing: border-box;
      left: 0;
      height: 68.2rem;
      position: absolute;
      background-color: #0458de;
      padding: 42.85rem 11.2rem 20.9rem 11.2rem;
      width: 127.8026rem;

      .vector-10-Roo {
        height: 4.45rem;
        object-fit: contain;
        vertical-align: top;
        width: 14rem;
      }
    }
    .text-bg-k5P {
      width: 51.1rem;
      height: 45.2rem;
      position: absolute;
      left: 65.8rem;
      top: 12.1rem;

      .atas-57f {
        width: 100%;
        font-size: 1.6rem;
        color: #8f8f8f;
        font-family: Google Sans, 'Source Sans Pro';
        box-sizing: border-box;
        padding: 2rem 3.2rem 1.9rem 3.2rem;
        line-height: 1.9692924709;
        white-space: nowrap;
        background-color: #ffffff;
        border-radius: 9rem;
        margin-bottom: 2.2rem;
        font-weight: 500;
      }
      .tengah-jxu {
        padding: 2rem 3.2rem 1.9rem 3.2rem;
        font-weight: 500;
        color: #8f8f8f;
        white-space: nowrap;
        background-color: #ffffff;
        border-radius: 9rem;
        margin-bottom: 2.1rem;
        box-sizing: border-box;
        width: 100%;
        font-size: 1.6rem;
        line-height: 1.9692924709;
        font-family: Google Sans, 'Source Sans Pro';
      }
      .bawah-2BK {
        background-color: #ffffff;
        margin-bottom: 2.8rem;
        box-sizing: border-box;
        padding: 1.8rem 3.2rem;
        height: 16.8rem;
        line-height: 1.9692924709;
        white-space: nowrap;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        color: #8f8f8f;
        font-family: Google Sans, 'Source Sans Pro';
        border-radius: 3rem;
      }
      .send-uF7 {
        align-items: center;
        justify-content: center;
        background-color: #000000;
        font-weight: 500;
        line-height: 1.9692924709;
        color: #ffffff;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 18.1rem;
        height: 7.1rem;
        font-size: 1.6rem;
        display: flex;
        border-radius: 9rem;
      }
    }
    .text-BTX {
      width: 39.2rem;
      height: 26.6rem;
      position: absolute;
      left: 10.8rem;
      top: 10.9rem;

      .write-your-contact-data-and-well-get-in-touch-with-you-JY9 {
        font-family: Google Sans, 'Source Sans Pro';
        margin-bottom: 1.8rem;
        max-width: 39.2rem;
        font-size: 5rem;
        font-weight: 700;
        line-height: 1.2228989864;
        letter-spacing: -0.075rem;
        color: #ffffff;
      }
      .get-informed-about-current-news-or-well-get-in-touch-with-you-to-discuss-all-questions-Bbw {
        font-weight: 500;
        line-height: 1.9692924709;
        color: #ffffff;
        font-family: Google Sans, 'Source Sans Pro';
        max-width: 38.8rem;
        font-size: 1.6rem;
      }
    }
  }
  .bg-4fj {
    flex-shrink: 0;
    width: 150.4175rem;
    height: 53.4rem;
    position: relative;

    .rectangle-10-bvZ {
      left: 0;
      top: 3.9rem;
      background-color: #f3f3f3;
      width: 144rem;
      height: 45.8rem;
      position: absolute;
    }
    .vector-10-Y57 {
      position: absolute;
      left: 129.2rem;
      top: 26.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 21.2175rem;
      height: 21.596rem;
    }
    .vector-12-ffX {
      left: 75.95rem;
      top: 4.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 7.65rem;
      height: 6rem;
      position: absolute;
    }
    .vector-11-Q7K {
      width: 45rem;
      height: 53.4rem;
      position: absolute;
      left: 2.85rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .logo-2-jQV {
      left: 17.4rem;
      top: 8.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 9.4rem;
      height: 9.4rem;
      position: absolute;
    }
    .text-sFo {
      width: 79.8rem;
      height: 35.3rem;
      position: absolute;
      left: 51.8rem;
      top: 10.4rem;
      display: flex;
      align-items: flex-start;

      .auto-group-fjnk-QFj {
        margin: 0.2rem 6.7rem 0rem 0rem;
        width: 26.4rem;
        flex-shrink: 0;

        .kiri--8xR {
          margin: 0rem 0rem 13rem 0.2rem;
          display: flex;
          flex-direction: column;

          .hogwart-international-school-H4d {
            font-weight: 700;
            line-height: 0.9170000076;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            max-width: 19.8rem;
            font-size: 2rem;
          }
          .based-on-medan-indonesia-zzd {
            max-width: 11.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.4050000906;
            color: #8d8d8d;
            font-family: Google Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 2.6rem;
          }
          .tel-62-812-7507-6747-7pM {
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.2rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.4050000906;
            color: #8d8d8d;
          }
          .email-infohogwartind-3T7 {
            line-height: 1.4050000906;
            color: #8d8d8d;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
        .auto-group-1hj3-aT3 {
          width: 100%;
          height: 3rem;
          position: relative;

          .hogwart-international-school-j53 {
            font-weight: 700;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.5rem;
            left: 1.8rem;
            top: 0.1rem;
            font-size: 1.6rem;
            width: 24.6rem;
            position: absolute;
            line-height: 0.9169999957;
          }
          .item--RiZ {
            line-height: 0.9169999957;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            width: 2.4rem;
            height: 3rem;
            font-size: 3.2rem;
            font-weight: 700;
            white-space: nowrap;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      .tengah-Lad {
        margin-right: 9.8rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .infocentre-in-new-building-tc9 {
          line-height: 0.9170000076;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.5rem;
          font-size: 2rem;
          font-weight: 700;
        }
        .open-mo-fr-900-1630-off-semester-900-1500-pVo {
          font-family: Google Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.6rem;
          max-width: 17rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.4050000906;
          color: #8d8d8d;
        }
        .infohogwartind-8Fb {
          line-height: 1.4050000509;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
      .tengah-4uw {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .campus-medan-RkV {
          line-height: 0.9170000076;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.5rem;
          font-size: 2rem;
          font-weight: 700;
        }
        .ti-hg-957-Zrh {
          margin-bottom: 1.8rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.4050000906;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .medan-feq {
          font-weight: 500;
          line-height: 1.4050000509;
          color: #8d8d8d;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
    }
    .facebook-Pqj {
      position: absolute;
      left: 19rem;
      top: 20.3rem;
      box-sizing: border-box;
      padding: 1rem 2.1rem 1rem 1rem;
      height: 5rem;
      background-color: #f1f6ff;
      border-radius: 10.3rem;
      width: 13.3rem;
      display: flex;
      align-items: center;

      .logo-U6V {
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3rem;
      }
      .facebook-Azu {
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 0.9169999957;
      }
    }
    .linkedin-ev5 {
      height: 5rem;
      position: absolute;
      top: 27.8rem;
      align-items: center;
      background-color: #f1f6ff;
      box-sizing: border-box;
      padding: 1rem 1.7rem 1rem 1rem;
      width: 12.1rem;
      left: 19rem;
      display: flex;
      border-radius: 10.3rem;

      .logo-5kV {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.6rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
      }
      .linkedin-cVX {
        line-height: 0.9169999957;
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
    .instagram-jKF {
      top: 35rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 1rem 2rem 1rem 1rem;
      width: 13.4rem;
      position: absolute;
      left: 19rem;
      height: 5rem;
      background-color: #f1f6ff;
      border-radius: 10.3rem;

      .group-prV {
        margin-right: 0.6rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .instagram-ZZB {
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 0.9169999957;
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
