
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 154.417rem;
}.component-RAZ {
  border-radius: 0.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .navbar-a3T {
    width: calc(100% - 6.4175rem);
    position: relative;
    display: flex;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    border: dashed 0.1rem #9747ff;
    border-radius: 0.5rem;
    flex-shrink: 0;
    margin: 0rem 4.417rem 24.9rem 2rem;

    .property-1light-mode-m7w {
      padding: 1.6rem 8rem 1.8rem 7.1rem;
      width: 100%;
      display: flex;
      backdrop-filter: blur(2rem);
      background-color: rgba(255, 255, 255, 0.5);
      margin-bottom: 2rem;
      box-sizing: border-box;
      height: 12.8rem;
      align-items: center;
      flex-shrink: 0;

      .logo-1-4cq {
        width: 9.4rem;
        height: 9.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 25.3rem;
      }
      .text-zmP {
        margin: 3.6rem 19.6rem 3.7rem 0rem;
        height: calc(100% - 7.3rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .alumni-iSV {
          margin-right: 3.3rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .alumni-UAm {
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2575;
          }
          .vector-1-oD3 {
            margin-bottom: 0.05rem;
            width: 1rem;
            height: 0.65rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .media-Wt9 {
          flex-shrink: 0;
          margin-right: 3.7rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .staff-intranet-Fqj {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.7rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
        }
        .about-hogwart-at1 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.2rem;
        }
        .office-XHT {
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.5rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
        }
        .contact-us-feZ {
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #000000;
        }
      }
      .kanan-bo7 {
        margin: 2.4rem 0rem 3rem 0rem;
        height: calc(100% - 5.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .vector-8o3 {
          margin: 0.2rem 2.5rem 0rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .en-fHB {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 1rem 2.3rem 0.8rem 0rem;
          height: calc(100% - 1.8rem);

          .en-CH7 {
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 1.7rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .vector-1-8wT {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.05rem;
            width: 1rem;
            height: 0.65rem;
            object-fit: contain;
          }
        }
        .profile-5Lu {
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 4rem;
        }
      }
    }
    .property-1dark-mode-aHf {
      padding: 1.6rem 8rem 1.8rem 7.1rem;
      display: flex;
      align-items: center;
      backdrop-filter: blur(2rem);
      background-color: rgba(0, 0, 0, 0.200000003);
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      height: 12.8rem;

      .logo-1-VfX {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 25.3rem;
        width: 9.4rem;
        height: 9.4rem;
        object-fit: cover;
      }
      .text-2vM {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 3.6rem 19.6rem 3.7rem 0rem;
        height: calc(100% - 7.3rem);

        .alumni-Z9b {
          margin-right: 3.3rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .alumni-ujF {
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .vector-1-FYD {
            flex-shrink: 0;
            margin-bottom: 0.05rem;
            width: 1rem;
            height: 0.65rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .media-no3 {
          margin-right: 3.7rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .staff-intranet-XVj {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.7rem;
        }
        .about-hogwart-TeH {
          font-weight: 500;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.2rem;
          font-size: 1.6rem;
        }
        .office-CLy {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.5rem;
        }
        .contact-us-91K {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .kanan-5ff {
        margin: 2.4rem 0rem 3rem 0rem;
        height: calc(100% - 5.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .vector-p7T {
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 2.5rem 0rem 0rem;
          width: 2.2rem;
        }
        .en-Kpu {
          flex-shrink: 0;
          margin: 1rem 2.3rem 0.8rem 0rem;
          height: calc(100% - 1.8rem);
          display: flex;
          align-items: center;

          .en-Tw7 {
            line-height: 1.2575;
            color: #ffffff;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 1.7rem;
            font-weight: 500;
          }
          .vector-1-cJD {
            margin-top: 0.05rem;
            width: 1rem;
            height: 0.65rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .profile-9ow {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .footer-pQH {
    margin-bottom: 17.2rem;
    width: 100%;
    flex-direction: column;
    display: flex;
    border: dashed 0.1rem #9747ff;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;

    .property-1default-Yr5 {
      margin-bottom: 2rem;
      width: 100%;
      height: 53.4rem;
      flex-shrink: 0;

      .bg-J4Z {
        height: 100%;
        position: relative;
        width: 100%;

        .rectangle-10-r65 {
          position: absolute;
          left: 0;
          top: 3.9rem;
          background-color: #f3f3f3;
          width: 144rem;
          height: 45.8rem;
        }
        .vector-10-B8M {
          vertical-align: top;
          width: 21.2175rem;
          height: 21.5961rem;
          position: absolute;
          left: 129.2rem;
          top: 26.8rem;
          object-fit: contain;
        }
        .vector-12-JTs {
          left: 75.95rem;
          top: 4.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 7.65rem;
          height: 6rem;
          position: absolute;
        }
        .vector-11-dFF {
          width: 45rem;
          height: 53.4rem;
          position: absolute;
          left: 2.85rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .logo-2-xoK {
          width: 9.4rem;
          height: 9.4rem;
          position: absolute;
          left: 17.4rem;
          top: 8.7rem;
          object-fit: cover;
          vertical-align: top;
        }
        .text-sfP {
          width: 79.8rem;
          height: 35.3rem;
          position: absolute;
          left: 51.8rem;
          top: 10.4rem;
          display: flex;
          align-items: flex-start;

          .auto-group-pd63-Chf {
            margin: 0.2rem 6.7rem 0rem 0rem;
            width: 26.4rem;
            flex-shrink: 0;

            .kiri--8bK {
              margin: 0rem 0rem 13rem 0.2rem;
              display: flex;
              flex-direction: column;

              .hogwart-international-school-GSd {
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 1.5rem;
                max-width: 19.8rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 0.9170000076;
              }
              .based-on-medan-indonesia-ay7 {
                color: #8d8d8d;
                font-family: Google Sans, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 2.6rem;
                max-width: 11.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.4050000906;
              }
              .tel-62-812-7507-6747-KA1 {
                color: #8d8d8d;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.2rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.4050000906;
              }
              .email-infohogwartind-dwP {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.4050000906;
                color: #8d8d8d;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .auto-group-dmi3-AwK {
              width: 100%;
              height: 3rem;
              position: relative;

              .hogwart-international-school-v9o {
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                width: 24.6rem;
                height: 1.5rem;
                position: absolute;
                top: 0.1rem;
                font-weight: 700;
                left: 1.8rem;
                font-size: 1.6rem;
                line-height: 0.9169999957;
                color: #000000;
              }
              .item--ozH {
                position: absolute;
                left: 0;
                font-weight: 700;
                white-space: nowrap;
                width: 2.4rem;
                height: 3rem;
                top: 0;
                font-size: 3.2rem;
                line-height: 0.9169999957;
                color: #000000;
                font-family: Google Sans, 'Source Sans Pro';
              }
            }
          }
          .tengah-iLZ {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 9.8rem;
            display: flex;

            .infocentre-in-new-building-GN5 {
              color: #000000;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.5rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 0.9170000076;
            }
            .open-mo-fr-900-1630-off-semester-900-1500-bQM {
              line-height: 1.4050000906;
              color: #8d8d8d;
              font-family: Google Sans, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 2.6rem;
              max-width: 17rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .infohogwartind-6c1 {
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.4050000509;
              color: #8d8d8d;
            }
          }
          .tengah-SQy {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .campus-medan-c4Z {
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.5rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 0.9170000076;
              color: #000000;
            }
            .ti-hg-957-8ob {
              font-weight: 500;
              line-height: 1.4050000906;
              color: #8d8d8d;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.6rem;
            }
            .medan-Geu {
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.4050000509;
              color: #8d8d8d;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .facebook-DKF {
          background-color: #f1f6ff;
          border-radius: 10.3rem;
          box-sizing: border-box;
          left: 19rem;
          top: 20.3rem;
          display: flex;
          align-items: center;
          padding: 1rem 2.1rem 1rem 1rem;
          width: 13.3rem;
          height: 5rem;
          position: absolute;

          .logo-uxm {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
          }
          .facebook-evM {
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 0.9169999957;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .linkedin-a3K {
          position: absolute;
          display: flex;
          align-items: center;
          background-color: #f1f6ff;
          border-radius: 10.3rem;
          width: 12.1rem;
          height: 5rem;
          left: 19rem;
          top: 27.8rem;
          box-sizing: border-box;
          padding: 1rem 1.7rem 1rem 1rem;

          .logo-so7 {
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .linkedin-RZj {
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 0.9169999957;
          }
        }
        .instagram-Xsf {
          align-items: center;
          box-sizing: border-box;
          padding: 1rem 2rem 1rem 1rem;
          width: 13.4rem;
          height: 5rem;
          position: absolute;
          top: 35rem;
          display: flex;
          background-color: #f1f6ff;
          border-radius: 10.3rem;
          left: 19rem;

          .group-b6q {
            margin-right: 0.6rem;
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .instagram-utD {
            font-weight: 500;
            line-height: 0.9169999957;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
          }
        }
      }
    }
    .property-1variant2-DP7 {
      width: 100%;
      height: 53.4rem;
      flex-shrink: 0;

      .bg-xbb {
        width: 100%;
        height: 100%;
        position: relative;

        .rectangle-10-WND {
          height: 45.8rem;
          position: absolute;
          left: 0;
          top: 3.9rem;
          background-color: #151515;
          width: 144rem;
        }
        .vector-10-eDX {
          height: 21.5961rem;
          position: absolute;
          left: 129.2rem;
          top: 26.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 21.2175rem;
        }
        .vector-12-a7B {
          position: absolute;
          left: 75.95rem;
          top: 4.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 7.65rem;
          height: 6rem;
        }
        .vector-11-hhb {
          height: 53.4rem;
          position: absolute;
          left: 2.85rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 45rem;
        }
        .logo-2-FDK {
          width: 9.4rem;
          height: 9.4rem;
          position: absolute;
          left: 17.4rem;
          top: 8.7rem;
          object-fit: cover;
          vertical-align: top;
        }
        .text-yv1 {
          left: 51.8rem;
          top: 10.4rem;
          display: flex;
          align-items: flex-start;
          width: 79.8rem;
          height: 35.3rem;
          position: absolute;

          .auto-group-n5vm-KDB {
            margin: 0.2rem 6.7rem 0rem 0rem;
            width: 26.4rem;
            flex-shrink: 0;

            .kiri--rD7 {
              margin: 0rem 0rem 13rem 0.2rem;
              display: flex;
              flex-direction: column;

              .hogwart-international-school-auo {
                line-height: 0.9170000076;
                color: #ffffff;
                font-family: Google Sans, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 1.5rem;
                max-width: 19.8rem;
                font-size: 2rem;
                font-weight: 700;
              }
              .based-on-medan-indonesia-WYZ {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.4050000906;
                color: #8d8d8d;
                font-family: Google Sans, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 2.6rem;
                max-width: 11.5rem;
              }
              .tel-62-812-7507-6747-EjT {
                font-weight: 400;
                line-height: 1.4050000906;
                color: #8d8d8d;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.2rem;
                font-size: 1.6rem;
              }
              .email-infohogwartind-mjP {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.4050000906;
                color: #8d8d8d;
                font-family: Google Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .auto-group-erpx-uqb {
              width: 100%;
              height: 3rem;
              position: relative;

              .hogwart-international-school-sXX {
                left: 1.8rem;
                top: 0.1rem;
                font-weight: 700;
                line-height: 0.9169999957;
                font-family: Google Sans, 'Source Sans Pro';
                width: 24.6rem;
                height: 1.5rem;
                color: #ffffff;
                white-space: nowrap;
                position: absolute;
                font-size: 1.6rem;
              }
              .item--AmX {
                position: absolute;
                left: 0;
                top: 0;
                font-size: 3.2rem;
                color: #000000;
                white-space: nowrap;
                width: 2.4rem;
                font-weight: 700;
                line-height: 0.9169999957;
                font-family: Google Sans, 'Source Sans Pro';
                height: 3rem;
              }
            }
          }
          .tengah-UXK {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 9.8rem;

            .infocentre-in-new-building-pbB {
              font-size: 2rem;
              font-weight: 700;
              line-height: 0.9170000076;
              color: #ffffff;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.5rem;
            }
            .open-mo-fr-900-1630-off-semester-900-1500-xSV {
              color: #8d8d8d;
              font-family: Google Sans, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 2.6rem;
              max-width: 17rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.4050000906;
            }
            .infohogwartind-51K {
              line-height: 1.4050000509;
              color: #8d8d8d;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 500;
            }
          }
          .tengah-pDo {
            flex-direction: column;
            flex-shrink: 0;
            display: flex;

            .campus-medan-P21 {
              color: #ffffff;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.5rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 0.9170000076;
            }
            .ti-hg-957-vGq {
              line-height: 1.4050000906;
              color: #8d8d8d;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.6rem;
              font-weight: 500;
            }
            .medan-eyX {
              font-weight: 500;
              line-height: 1.4050000509;
              color: #8d8d8d;
              font-family: Google Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
            }
          }
        }
        .facebook-PgD {
          width: 13.3rem;
          height: 5rem;
          position: absolute;
          left: 19rem;
          top: 20.3rem;
          background-color: #f1f6ff;
          border-radius: 10.3rem;
          box-sizing: border-box;
          padding: 1rem 2.1rem 1rem 1rem;
          display: flex;
          align-items: center;

          .logo-VUM {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7rem;
            width: 3rem;
            height: 3rem;
          }
          .facebook-2z5 {
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 0.9169999957;
          }
        }
        .linkedin-YxR {
          padding: 1rem 1.7rem 1rem 1rem;
          width: 12.1rem;
          height: 5rem;
          position: absolute;
          top: 27.8rem;
          align-items: center;
          background-color: #f1f6ff;
          box-sizing: border-box;
          left: 19rem;
          display: flex;
          border-radius: 10.3rem;

          .logo-4Qy {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: 3rem;
            height: 3rem;
            position: relative;
          }
          .linkedin-15K {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 0.9169999957;
            color: #000000;
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
          }
        }
        .instagram-XZT {
          align-items: center;
          background-color: #f1f6ff;
          border-radius: 10.3rem;
          height: 5rem;
          position: absolute;
          top: 35rem;
          left: 19rem;
          display: flex;
          box-sizing: border-box;
          padding: 1rem 2rem 1rem 1rem;
          width: 13.4rem;

          .group-Eim {
            margin-right: 0.6rem;
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .instagram-xPs {
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 0.9169999957;
            color: #000000;
          }
        }
      }
    }
  }
  .contact-EsB {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    align-items: center;
    width: calc(100% - 22.6149rem);
    border: dashed 0.1rem #9747ff;
    border-radius: 0.5rem;
    flex-shrink: 0;
    margin: 0rem 11.315rem 0rem 11.3rem;
    box-sizing: border-box;
    padding: 2rem;

    .property-1default-MB7 {
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
      height: 68.2rem;
      position: relative;

      .contact-bg-V2R {
        padding: 42.85rem 11.2rem 20.9rem 11.2rem;
        height: 68.2rem;
        background-color: #0458de;
        box-sizing: border-box;
        width: 127.8026rem;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 6rem 0 6rem 0;

        .vector-10-b5T {
          width: 14rem;
          height: 4.45rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .text-bg-heH {
        width: 51.1rem;
        height: 45.2rem;
        position: absolute;
        left: 65.8rem;
        top: 12.1rem;

        .atas-pyo {
          margin-bottom: 2.2rem;
          box-sizing: border-box;
          padding: 2rem 3.2rem 1.9rem 3.2rem;
          font-weight: 500;
          color: #8f8f8f;
          font-family: Google Sans, 'Source Sans Pro';
          border-radius: 9rem;
          width: 100%;
          font-size: 1.6rem;
          line-height: 1.9692924709;
          white-space: nowrap;
          background-color: #ffffff;
        }
        .tengah-hXo {
          padding: 2rem 3.2rem 1.9rem 3.2rem;
          width: 100%;
          font-size: 1.6rem;
          color: #8f8f8f;
          white-space: nowrap;
          border-radius: 9rem;
          box-sizing: border-box;
          font-weight: 500;
          line-height: 1.9692924709;
          font-family: Google Sans, 'Source Sans Pro';
          background-color: #ffffff;
          margin-bottom: 2.1rem;
        }
        .bawah-z17 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.9692924709;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 3rem;
          width: 100%;
          box-sizing: border-box;
          padding: 1.8rem 3.2rem;
          height: 16.8rem;
          color: #8f8f8f;
          background-color: #ffffff;
          margin-bottom: 2.8rem;
        }
        .send-Sth {
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          background-color: #000000;
          width: 18.1rem;
          color: #ffffff;
          font-weight: 500;
          line-height: 1.9692924709;
          align-items: center;
          justify-content: center;
          border-radius: 9rem;
          height: 7.1rem;
          font-size: 1.6rem;
        }
      }
      .text-92R {
        width: 39.2rem;
        height: 26.6rem;
        position: absolute;
        left: 10.8rem;
        top: 10.9rem;

        .write-your-contact-data-and-well-get-in-touch-with-you-5Ay {
          line-height: 1.2228989864;
          letter-spacing: -0.075rem;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
          margin-bottom: 1.8rem;
          max-width: 39.2rem;
          font-size: 5rem;
          font-weight: 700;
        }
        .get-informed-about-current-news-or-well-get-in-touch-with-you-to-discuss-all-questions-mZb {
          max-width: 38.8rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.9692924709;
          color: #ffffff;
          font-family: Google Sans, 'Source Sans Pro';
        }
      }
    }
    .property-1variant2-Fjf {
      width: 100%;
      height: 68.2rem;
      position: relative;
      flex-shrink: 0;

      .contact-bg-oFP {
        box-sizing: border-box;
        width: 127.8026rem;
        height: 68.2rem;
        background-color: #0458de;
        padding: 42.85rem 11.2rem 20.9rem 11.2rem;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 6rem 0 6rem 0;

        .vector-10-iNM {
          width: 14rem;
          height: 4.45rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .text-bg-qSy {
        left: 65.8rem;
        top: 12.1rem;
        width: 51.1rem;
        height: 45.2rem;
        position: absolute;

        .atas-y3P {
          font-size: 1.6rem;
          line-height: 1.9692924709;
          background-color: #000000;
          border-radius: 9rem;
          box-sizing: border-box;
          padding: 2rem 3.2rem 1.9rem 3.2rem;
          width: 100%;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.2rem;
          font-weight: 500;
          color: #8f8f8f;
        }
        .tengah-FFo {
          font-family: Google Sans, 'Source Sans Pro';
          margin-bottom: 2.1rem;
          padding: 2rem 3.2rem 1.9rem 3.2rem;
          width: 100%;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.9692924709;
          color: #8f8f8f;
          white-space: nowrap;
          background-color: #000000;
          box-sizing: border-box;
          border-radius: 9rem;
        }
        .bawah-XDK {
          font-size: 1.6rem;
          font-weight: 500;
          color: #8f8f8f;
          background-color: #000000;
          border-radius: 3rem;
          margin-bottom: 2.8rem;
          box-sizing: border-box;
          padding: 1.8rem 3.2rem;
          width: 100%;
          height: 16.8rem;
          line-height: 1.9692924709;
          font-family: Google Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .send-CaM {
          color: #000000;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 18.1rem;
          height: 7.1rem;
          font-weight: 500;
          background-color: #ffffff;
          border-radius: 9rem;
          font-size: 1.6rem;
          line-height: 1.9692924709;
          font-family: Google Sans, 'Source Sans Pro';
        }
      }
      .text-69w {
        height: 26.6rem;
        position: absolute;
        left: 10.8rem;
        top: 10.9rem;
        width: 39.2rem;

        .write-your-contact-data-and-well-get-in-touch-with-you-2JV {
          margin-bottom: 1.8rem;
          max-width: 39.2rem;
          font-size: 5rem;
          font-weight: 700;
          line-height: 1.2228989864;
          letter-spacing: -0.075rem;
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
        }
        .get-informed-about-current-news-or-well-get-in-touch-with-you-to-discuss-all-questions-jCu {
          color: #000000;
          font-family: Google Sans, 'Source Sans Pro';
          max-width: 38.8rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.9692924709;
        }
      }
    }
  }
}
