
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 189.4rem;
}.description-EDP {
  width: 100%;
  display: flex;
  flex-direction: column;

  .hogwart-international-school-programming-web-i-project-khX {
    flex-shrink: 0;
    margin: 0rem 0rem 8.8rem 0.1rem;
    max-width: 157.6rem;
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 1.0419999186;
    color: #ffffff;
    font-family: Google Sans, 'Source Sans Pro';

    .hogwart-international-school-programming-web-i-project-khX-sub-0 {
      font-size: 12.8rem;
      font-weight: 700;
      line-height: 1.0301218149;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
    }
    .hogwart-international-school-programming-web-i-project-khX-sub-1 {
      font-family: Google Sans, 'Source Sans Pro';
      font-size: 9.6rem;
      font-weight: 400;
      line-height: 1.0301218149;
      color: #ffffff;
    }
  }
  .under-development-faiz-hazim-hawari-sp5 {
    flex-shrink: 0;
    margin-bottom: 7.7rem;
    max-width: 107.9rem;
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 1.0419999186;
    color: #ffffff;
    font-family: Google Sans, 'Source Sans Pro';

    .under-development-faiz-hazim-hawari-sp5-sub-0 {
      font-family: Google Sans, 'Source Sans Pro';
      font-size: 12.8rem;
      font-weight: 700;
      line-height: 1.0301218149;
      color: #ffffff;
    }
    .under-development-faiz-hazim-hawari-sp5-sub-1 {
      line-height: 1.0301218149;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
      font-size: 9.6rem;
      font-weight: 400;
    }
  }
  .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-zXK {
    font-family: Google Sans, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 13.9rem 0.1rem;
    max-width: 188.4rem;
    font-size: 12.8rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;

    .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-zXK-sub-0 {
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 1;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
    }
    .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-zXK-sub-1 {
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
    }
  }
  .main-functions-the-website-will-have-several-main-functions-firstly-it-will-provide-the-latest-school-news-so-that-students-parents-and-teachers-can-stay-informed-about-events-achievements-and-school-developments-additionally-the-website-will-include-essential-information-regarding-the-curriculum-schedules-extracurricular-activities-and-contact-information-that-will-be-highly-beneficial-in-the-daily-school-routine-thus-this-project-aims-to-create-an-informative-and-easily-accessible-platform-for-the-entire-school-community-Eru {
    max-width: 187.9rem;
    font-size: 12.8rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    font-family: Google Sans, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 13.9rem 0.1rem;

    .main-functions-the-website-will-have-several-main-functions-firstly-it-will-provide-the-latest-school-news-so-that-students-parents-and-teachers-can-stay-informed-about-events-achievements-and-school-developments-additionally-the-website-will-include-essential-information-regarding-the-curriculum-schedules-extracurricular-activities-and-contact-information-that-will-be-highly-beneficial-in-the-daily-school-routine-thus-this-project-aims-to-create-an-informative-and-easily-accessible-platform-for-the-entire-school-community-Eru-sub-0 {
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 1;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
    }
    .main-functions-the-website-will-have-several-main-functions-firstly-it-will-provide-the-latest-school-news-so-that-students-parents-and-teachers-can-stay-informed-about-events-achievements-and-school-developments-additionally-the-website-will-include-essential-information-regarding-the-curriculum-schedules-extracurricular-activities-and-contact-information-that-will-be-highly-beneficial-in-the-daily-school-routine-thus-this-project-aims-to-create-an-informative-and-easily-accessible-platform-for-the-entire-school-community-Eru-sub-1 {
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
    }
  }
  .benefits-with-the-presence-of-this-website-several-benefits-are-expected-to-be-experienced-by-all-parties-students-will-have-easier-access-to-critical-information-about-the-school-which-can-help-them-in-academic-planning-and-participation-in-school-activities-parents-will-have-direct-access-to-school-news-and-information-enabling-them-to-better-support-their-childrens-educational-development-teachers-will-have-additional-tools-to-communicate-with-students-and-parents-ensuring-that-vital-information-is-effectively-conveyed-therefore-this-project-is-expected-to-provide-significant-benefits-to-the-entire-school-community-NtZ {
    flex-shrink: 0;
    margin: 0rem 0rem 7.5rem 0.1rem;
    max-width: 187.5rem;
    font-size: 12.8rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    font-family: Google Sans, 'Source Sans Pro';

    .benefits-with-the-presence-of-this-website-several-benefits-are-expected-to-be-experienced-by-all-parties-students-will-have-easier-access-to-critical-information-about-the-school-which-can-help-them-in-academic-planning-and-participation-in-school-activities-parents-will-have-direct-access-to-school-news-and-information-enabling-them-to-better-support-their-childrens-educational-development-teachers-will-have-additional-tools-to-communicate-with-students-and-parents-ensuring-that-vital-information-is-effectively-conveyed-therefore-this-project-is-expected-to-provide-significant-benefits-to-the-entire-school-community-NtZ-sub-0 {
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 1;
    }
    .benefits-with-the-presence-of-this-website-several-benefits-are-expected-to-be-experienced-by-all-parties-students-will-have-easier-access-to-critical-information-about-the-school-which-can-help-them-in-academic-planning-and-participation-in-school-activities-parents-will-have-direct-access-to-school-news-and-information-enabling-them-to-better-support-their-childrens-educational-development-teachers-will-have-additional-tools-to-communicate-with-students-and-parents-ensuring-that-vital-information-is-effectively-conveyed-therefore-this-project-is-expected-to-provide-significant-benefits-to-the-entire-school-community-NtZ-sub-1 {
      font-weight: 400;
      line-height: 1;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
      font-size: 6.4rem;
    }
  }
  .features-in-the-project-the-first-main-functionality-to-be-noted-is-the-websites-homepage-this-page-is-the-starting-point-for-users-when-they-access-the-site-and-therefore-should-provide-a-brief-overview-of-what-they-can-find-on-the-site-this-homepage-can-also-serve-as-a-guide-to-accessing-other-essential-information-on-the-site-the-second-functionality-is-to-provide-information-about-the-school-or-campus-this-involves-creating-a-page-with-a-brief-but-informative-description-of-the-school-or-campus-additionally-information-about-the-schools-history-vision-mission-and-clear-and-easily-accessible-contact-information-should-be-available-this-will-help-prospective-students-parents-and-other-stakeholders-to-comprehensively-understand-the-educational-institution-the-third-functionality-to-be-included-is-the-staff-and-faculty-profiles-this-includes-creating-a-comprehensive-list-of-all-staff-teachers-and-professors-involved-in-the-education-process-their-contact-information-should-also-be-included-so-that-users-can-easily-reach-out-to-them-when-necessary-this-will-help-in-building-transparency-and-effective-communication-between-the-school-or-campus-and-students-parents-and-the-general-public-regular-updates-to-staff-and-faculty-profiles-can-also-be-part-of-this-functionality-to-keep-the-information-accurate-Uc9 {
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    font-family: Google Sans, 'Source Sans Pro';
    flex-shrink: 0;
    margin-left: 0.1rem;
    max-width: 189.3rem;
    font-size: 12.8rem;

    .features-in-the-project-the-first-main-functionality-to-be-noted-is-the-websites-homepage-this-page-is-the-starting-point-for-users-when-they-access-the-site-and-therefore-should-provide-a-brief-overview-of-what-they-can-find-on-the-site-this-homepage-can-also-serve-as-a-guide-to-accessing-other-essential-information-on-the-site-the-second-functionality-is-to-provide-information-about-the-school-or-campus-this-involves-creating-a-page-with-a-brief-but-informative-description-of-the-school-or-campus-additionally-information-about-the-schools-history-vision-mission-and-clear-and-easily-accessible-contact-information-should-be-available-this-will-help-prospective-students-parents-and-other-stakeholders-to-comprehensively-understand-the-educational-institution-the-third-functionality-to-be-included-is-the-staff-and-faculty-profiles-this-includes-creating-a-comprehensive-list-of-all-staff-teachers-and-professors-involved-in-the-education-process-their-contact-information-should-also-be-included-so-that-users-can-easily-reach-out-to-them-when-necessary-this-will-help-in-building-transparency-and-effective-communication-between-the-school-or-campus-and-students-parents-and-the-general-public-regular-updates-to-staff-and-faculty-profiles-can-also-be-part-of-this-functionality-to-keep-the-information-accurate-Uc9-sub-0 {
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 1;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
    }
    .features-in-the-project-the-first-main-functionality-to-be-noted-is-the-websites-homepage-this-page-is-the-starting-point-for-users-when-they-access-the-site-and-therefore-should-provide-a-brief-overview-of-what-they-can-find-on-the-site-this-homepage-can-also-serve-as-a-guide-to-accessing-other-essential-information-on-the-site-the-second-functionality-is-to-provide-information-about-the-school-or-campus-this-involves-creating-a-page-with-a-brief-but-informative-description-of-the-school-or-campus-additionally-information-about-the-schools-history-vision-mission-and-clear-and-easily-accessible-contact-information-should-be-available-this-will-help-prospective-students-parents-and-other-stakeholders-to-comprehensively-understand-the-educational-institution-the-third-functionality-to-be-included-is-the-staff-and-faculty-profiles-this-includes-creating-a-comprehensive-list-of-all-staff-teachers-and-professors-involved-in-the-education-process-their-contact-information-should-also-be-included-so-that-users-can-easily-reach-out-to-them-when-necessary-this-will-help-in-building-transparency-and-effective-communication-between-the-school-or-campus-and-students-parents-and-the-general-public-regular-updates-to-staff-and-faculty-profiles-can-also-be-part-of-this-functionality-to-keep-the-information-accurate-Uc9-sub-1 {
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1;
    }
    .features-in-the-project-the-first-main-functionality-to-be-noted-is-the-websites-homepage-this-page-is-the-starting-point-for-users-when-they-access-the-site-and-therefore-should-provide-a-brief-overview-of-what-they-can-find-on-the-site-this-homepage-can-also-serve-as-a-guide-to-accessing-other-essential-information-on-the-site-the-second-functionality-is-to-provide-information-about-the-school-or-campus-this-involves-creating-a-page-with-a-brief-but-informative-description-of-the-school-or-campus-additionally-information-about-the-schools-history-vision-mission-and-clear-and-easily-accessible-contact-information-should-be-available-this-will-help-prospective-students-parents-and-other-stakeholders-to-comprehensively-understand-the-educational-institution-the-third-functionality-to-be-included-is-the-staff-and-faculty-profiles-this-includes-creating-a-comprehensive-list-of-all-staff-teachers-and-professors-involved-in-the-education-process-their-contact-information-should-also-be-included-so-that-users-can-easily-reach-out-to-them-when-necessary-this-will-help-in-building-transparency-and-effective-communication-between-the-school-or-campus-and-students-parents-and-the-general-public-regular-updates-to-staff-and-faculty-profiles-can-also-be-part-of-this-functionality-to-keep-the-information-accurate-Uc9-sub-2 {
      line-height: 1.3333333333;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
      font-size: 9.6rem;
      font-weight: 700;
    }
    .features-in-the-project-the-first-main-functionality-to-be-noted-is-the-websites-homepage-this-page-is-the-starting-point-for-users-when-they-access-the-site-and-therefore-should-provide-a-brief-overview-of-what-they-can-find-on-the-site-this-homepage-can-also-serve-as-a-guide-to-accessing-other-essential-information-on-the-site-the-second-functionality-is-to-provide-information-about-the-school-or-campus-this-involves-creating-a-page-with-a-brief-but-informative-description-of-the-school-or-campus-additionally-information-about-the-schools-history-vision-mission-and-clear-and-easily-accessible-contact-information-should-be-available-this-will-help-prospective-students-parents-and-other-stakeholders-to-comprehensively-understand-the-educational-institution-the-third-functionality-to-be-included-is-the-staff-and-faculty-profiles-this-includes-creating-a-comprehensive-list-of-all-staff-teachers-and-professors-involved-in-the-education-process-their-contact-information-should-also-be-included-so-that-users-can-easily-reach-out-to-them-when-necessary-this-will-help-in-building-transparency-and-effective-communication-between-the-school-or-campus-and-students-parents-and-the-general-public-regular-updates-to-staff-and-faculty-profiles-can-also-be-part-of-this-functionality-to-keep-the-information-accurate-Uc9-sub-3 {
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
    }
    .features-in-the-project-the-first-main-functionality-to-be-noted-is-the-websites-homepage-this-page-is-the-starting-point-for-users-when-they-access-the-site-and-therefore-should-provide-a-brief-overview-of-what-they-can-find-on-the-site-this-homepage-can-also-serve-as-a-guide-to-accessing-other-essential-information-on-the-site-the-second-functionality-is-to-provide-information-about-the-school-or-campus-this-involves-creating-a-page-with-a-brief-but-informative-description-of-the-school-or-campus-additionally-information-about-the-schools-history-vision-mission-and-clear-and-easily-accessible-contact-information-should-be-available-this-will-help-prospective-students-parents-and-other-stakeholders-to-comprehensively-understand-the-educational-institution-the-third-functionality-to-be-included-is-the-staff-and-faculty-profiles-this-includes-creating-a-comprehensive-list-of-all-staff-teachers-and-professors-involved-in-the-education-process-their-contact-information-should-also-be-included-so-that-users-can-easily-reach-out-to-them-when-necessary-this-will-help-in-building-transparency-and-effective-communication-between-the-school-or-campus-and-students-parents-and-the-general-public-regular-updates-to-staff-and-faculty-profiles-can-also-be-part-of-this-functionality-to-keep-the-information-accurate-Uc9-sub-4 {
      font-weight: 700;
      line-height: 1.3333333333;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
      font-size: 9.6rem;
    }
    .features-in-the-project-the-first-main-functionality-to-be-noted-is-the-websites-homepage-this-page-is-the-starting-point-for-users-when-they-access-the-site-and-therefore-should-provide-a-brief-overview-of-what-they-can-find-on-the-site-this-homepage-can-also-serve-as-a-guide-to-accessing-other-essential-information-on-the-site-the-second-functionality-is-to-provide-information-about-the-school-or-campus-this-involves-creating-a-page-with-a-brief-but-informative-description-of-the-school-or-campus-additionally-information-about-the-schools-history-vision-mission-and-clear-and-easily-accessible-contact-information-should-be-available-this-will-help-prospective-students-parents-and-other-stakeholders-to-comprehensively-understand-the-educational-institution-the-third-functionality-to-be-included-is-the-staff-and-faculty-profiles-this-includes-creating-a-comprehensive-list-of-all-staff-teachers-and-professors-involved-in-the-education-process-their-contact-information-should-also-be-included-so-that-users-can-easily-reach-out-to-them-when-necessary-this-will-help-in-building-transparency-and-effective-communication-between-the-school-or-campus-and-students-parents-and-the-general-public-regular-updates-to-staff-and-faculty-profiles-can-also-be-part-of-this-functionality-to-keep-the-information-accurate-Uc9-sub-5 {
      font-weight: 400;
      line-height: 1;
      color: #ffffff;
      font-family: Google Sans, 'Source Sans Pro';
      font-size: 6.4rem;
    }
  }
}
