
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.register-XDK {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .background-4U9 {
    object-fit: contain;
    vertical-align: top;
    width: 166.2rem;
    height: 274rem;
    position: absolute;
    left: 0;
    top: 24.6rem;
  }
  .ellipse-2-nuw {
    height: 36.8rem;
    position: absolute;
    left: 10.2rem;
    top: 7.8rem;
    filter: blur(17.75rem);
    background-color: #ffc50d;
    border-radius: 18.4rem;
    width: 36.8rem;
  }
  .login-bar-WL9 {
    left: 18.6rem;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 49.8rem;
    padding: 0rem 8.914rem 0rem 7.8rem;
    width: 106.7143rem;
    position: absolute;
    top: 26.3rem;
    display: flex;
    background-position: center;
    background-image: url('REPLACE_IMAGE:245:792');
    box-sizing: border-box;

    .auto-group-upo5-CTs {
      margin: 6.2rem 7.3rem 6.621rem 0rem;
      width: 42.1rem;
      height: calc(100% - 12.8214rem);
      flex-shrink: 0;

      .title-header-7aq {
        max-width: 32.5rem;
        font-size: 7.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000000;
        font-family: Google Sans, 'Source Sans Pro';
      }
      .sub-header-2-FBF {
        font-weight: 400;
        line-height: 1;
        color: #595959;
        font-family: Google Sans, 'Source Sans Pro';
        margin-bottom: 1.4rem;
        max-width: 42.1rem;
        font-size: 2.5rem;
      }
      .auto-group-1lfd-Nmf {
        box-sizing: border-box;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-image: url('REPLACE_IMAGE:245:793');
        margin: 0rem 17.131rem 1.288rem 0rem;
        padding: 1.151rem 1.338rem 1.512rem 2.45rem;
        width: calc(100% - 17.1306rem);
        display: flex;
        background-repeat: no-repeat;

        .text-Gs3 {
          flex-shrink: 0;
          margin: 0.249rem 7.352rem 0rem 0rem;
          width: 11.6rem;

          .sub-header-3-DGV {
            line-height: 1;
            width: 100%;
            text-align: center;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.3000000119);
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 3.3rem;
            font-size: 1.5rem;
          }
          .sub-header-4-wCV {
            font-weight: 400;
            line-height: 1;
            color: rgba(0, 0, 0, 0.3000000119);
            font-family: Google Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
          }
        }
        .icon-GkZ {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.0717rem;
          height: 6.4769rem;

          .vector-cpR {
            height: 2.1589rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 2.8787rem;
            width: 2.2294rem;
          }
          .vector-kfj {
            vertical-align: top;
            flex-shrink: 0;
            width: 2.2294rem;
            height: 1.4393rem;
            object-fit: contain;
          }
        }
      }
      .sub-header-5-5CD {
        white-space: nowrap;
        margin-bottom: 1.2rem;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        cursor: pointer;
        text-align: center;
        text-decoration-line: underline;
        color: #04b46b;
        font-family: Google Sans, 'Source Sans Pro';
      }
      .login-kecil-Pyb {
        font-weight: 700;
        height: 2.8786rem;
        font-size: 1.2rem;
        font-family: Google Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        justify-content: center;
        border: solid 0.2rem #04b46b;
        box-sizing: border-box;
        text-align: center;
        line-height: 1;
        border-radius: 9.6rem;
        align-items: center;
        width: 13.6387rem;
        color: #04b46b;
      }
    }
    .photo-2-UEM {
      margin-bottom: 9.2rem;
      width: 40.6rem;
      height: 40.6rem;
      position: relative;
      flex-shrink: 0;

      .ellipse-15-c5f {
        height: 31.5rem;
        position: absolute;
        left: 6.1rem;
        top: 9.1rem;
        background-color: #04b46b;
        border-radius: 15.75rem;
        width: 31.5rem;
      }
      .foto3-8Zo {
        left: 0;
        top: 0;
        background-size: 187.179% 107.882%;
        background-position: 0 0rem;
        background-image: url('REPLACE_IMAGE:787f126c6a87c75847d97e60629fff627a52bfb4');
        width: 23.4rem;
        height: 40.6rem;
        position: relative;
      }
      .auto-group-ad6k-qUD {
        height: 31.5rem;
        position: absolute;
        left: 6.1rem;
        top: 9.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 31.5rem;
      }
    }
  }
  .group-2-Lvm {
    top: 3.8rem;
    font-weight: 700;
    line-height: 1;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 20rem;
    position: absolute;
    background-position: center;
    text-align: center;
    font-family: DM Sans, 'Source Sans Pro';
    background-image: url('REPLACE_IMAGE:245:810');
    height: 6.5rem;
    cursor: pointer;
    display: flex;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    left: 8.2rem;
    color: #ffffff;
    font-size: 2.5rem;
    white-space: nowrap;
  }
  .vector-6-Cxy {
    vertical-align: top;
    width: 6.95rem;
    height: 6rem;
    position: absolute;
    left: 25.1rem;
    top: 20.3rem;
    object-fit: contain;
  }
  .vector-7-8Lq {
    height: 10.25rem;
    position: absolute;
    left: 112.9rem;
    top: 69.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 12.35rem;
  }
}
