
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-hogwarts-Fb7 {
  width: 100%;
  height: 370rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.about-hogwarts-Fb7 .rectangle-11-yn1 {
  width: 144rem;
  height: 412.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #090909;
}
.about-hogwarts-Fb7 .background-7tD {
  width: 178.2rem;
  height: 349.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .project-description-FzR {
  width: 134.6756rem;
  height: 53.5872rem;
  position: absolute;
  left: 4.1913rem;
  top: 256.3236rem;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-yfX {
  width: 127.8rem;
  height: 78.5091rem;
  position: absolute;
  left: 8.2rem;
  top: 90.1rem;
}
.about-hogwarts-Fb7 .bg-yfX .bg-fakultas-7Fw {
  width: 127.8rem;
  height: 78.5091rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-yfX .vector-6-emf {
  width: 6.95rem;
  height: 6rem;
  position: absolute;
  left: 105.2rem;
  top: 9.1rem;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-yfX .group-1-Bmb {
  width: 38.6rem;
  height: 38.6rem;
  position: absolute;
  left: 73.6rem;
  top: 15.1rem;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-yfX .vector-7-7QM {
  width: 12.35rem;
  height: 10.25rem;
  position: absolute;
  left: 70.2rem;
  top: 47.5rem;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-yfX .text-r73 {
  width: 52rem;
  height: 33.6rem;
  position: absolute;
  left: 15.4rem;
  top: 15.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-hogwarts-Fb7 .bg-yfX .text-r73 .auto-group-drfd-mzh {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-yfX .text-r73 .auto-group-drfd-mzh .thefirst-WhP {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.05rem;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-yfX .text-r73 .auto-group-drfd-mzh .faiz-hazim-hawari-d1K {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.05rem;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-yfX .text-r73 .mission-8Ts {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-yfX .text-r73 .mission-8Ts .ui-ux-designer-HrZ {
  margin: 0.7rem 5rem 0rem 0rem;
  max-width: 9.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-yfX .text-r73 .mission-8Ts .as-a-ui-ux-and-poster-designer-utilizing-figma-my-responsibilities-include-crafting-visually-appealing-and-user-friendly-interface-designs-and-posters-the-process-involves-wireframing-prototyping-and-collaborating-with-stakeholders-to-ensure-a-seamless-user-experience-and-captivating-visual-communication-noK {
  max-width: 37.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9720000029;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-az5 {
  width: 134.2rem;
  height: 75.7923rem;
  position: absolute;
  left: 1.8rem;
  top: 170.1rem;
}
.about-hogwarts-Fb7 .bg-az5 .bg-fakultas-Wsj {
  width: 134.2rem;
  height: 75.7923rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-az5 .vector-6-G6D {
  width: 6rem;
  height: 6.95rem;
  position: absolute;
  left: 118.6rem;
  top: 15.1rem;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-az5 .group-1-bPP {
  box-sizing: border-box;
  padding-top: 0.8rem;
  width: 39.4rem;
  height: 39.4rem;
  position: absolute;
  left: 80rem;
  top: 14.3rem;
}
.about-hogwarts-Fb7 .bg-az5 .group-1-bPP .auto-group-hjkz-7cd {
  width: 38.6rem;
  height: 38.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-az5 .vector-7-raD {
  width: 12.35rem;
  height: 10.25rem;
  position: absolute;
  left: 110.4rem;
  top: 47.8rem;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-az5 .text-zRX {
  width: 52rem;
  height: 33.6rem;
  position: absolute;
  left: 21.8rem;
  top: 15.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-hogwarts-Fb7 .bg-az5 .text-zRX .auto-group-fd3h-iMX {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-az5 .text-zRX .auto-group-fd3h-iMX .thesecond-G89 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.05rem;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-az5 .text-zRX .auto-group-fd3h-iMX .muhammad-syafrie-ncH {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.05rem;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-az5 .text-zRX .mission-tfK {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-az5 .text-zRX .mission-tfK .ui-ux-designer-Rv9 {
  margin: 0.7rem 5rem 0rem 0rem;
  max-width: 9.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-az5 .text-zRX .mission-tfK .as-a-ui-ux-and-poster-designer-utilizing-figma-my-responsibilities-include-crafting-visually-appealing-and-user-friendly-interface-designs-and-posters-the-process-involves-wireframing-prototyping-and-collaborating-with-stakeholders-to-ensure-a-seamless-user-experience-and-captivating-visual-communication-tHw {
  max-width: 37.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9720000029;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .home-Rx5 {
  width: 127.7964rem;
  height: 66.1985rem;
  position: absolute;
  left: 8.2rem;
  top: 14.8rem;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM {
  width: 63.1111rem;
  height: 66.1985rem;
  position: absolute;
  left: 64.6853rem;
  top: 0;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .vector-hPo {
  width: 58.9808rem;
  height: 55.7489rem;
  position: absolute;
  left: 2.7147rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .vector-4-Rah {
  width: 61.7294rem;
  height: 58.5969rem;
  position: absolute;
  left: 0;
  top: 7.6016rem;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .image-2-mPf {
  width: 47.5929rem;
  height: 47.6533rem;
  position: absolute;
  left: 15.5182rem;
  top: 7.3233rem;
  object-fit: cover;
  vertical-align: top;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .vector-5-6gq {
  width: 7.2rem;
  height: 7.25rem;
  position: absolute;
  left: 34.4147rem;
  top: 56.3999rem;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .photo-dwf {
  width: 48.7rem;
  height: 48.9rem;
  position: absolute;
  left: 6.5147rem;
  top: 11.4rem;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .photo-dwf .photo-2-Awb {
  width: 25.5rem;
  height: 25.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .photo-dwf .photo-2-Awb .rectangle-4-vQy {
  width: 19.3rem;
  height: 22.2rem;
  position: absolute;
  left: 4.7rem;
  top: 2.9rem;
  backdrop-filter: blur(3rem);
  background-color: rgba(255, 87, 40, 0.400000006);
  border-radius: 0 3rem 0 3rem;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .photo-dwf .photo-2-Awb .ee3d7e4a75aa33dd871af5752d0378-sticker-1-q29 {
  width: 25.5rem;
  height: 25.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .photo-dwf .photo-5-MFP {
  width: 23.8rem;
  height: 23.8rem;
  position: absolute;
  left: 13.6rem;
  top: 25.1rem;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .photo-dwf .photo-5-MFP .rectangle-4-VcV {
  width: 19.3rem;
  height: 22.1rem;
  position: absolute;
  left: 2.2rem;
  top: 0;
  backdrop-filter: blur(3rem);
  background-color: rgba(4, 180, 107, 0.400000006);
  border-radius: 0 3rem 0 3rem;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .photo-dwf .photo-5-MFP .e659b50ed80dccb797d20e562-sticker-1-odB {
  width: 23.8rem;
  height: 23.8rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .photo-dwf .photo-4-X3P {
  width: 25.9rem;
  height: 25.9rem;
  position: absolute;
  left: 22.8rem;
  top: 2.3rem;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .photo-dwf .photo-4-X3P .rectangle-4-TSq {
  width: 19.6rem;
  height: 22.1rem;
  position: absolute;
  left: 4rem;
  top: 2.2rem;
  backdrop-filter: blur(3rem);
  background-color: rgba(6, 193, 174, 0.400000006);
  border-radius: 3rem 0 3rem 0;
}
.about-hogwarts-Fb7 .home-Rx5 .bg-kzM .photo-dwf .photo-4-X3P .d66e8503c9cd49a92b323209f839bb7a-sticker-1-myK {
  width: 25.9rem;
  height: 25.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.about-hogwarts-Fb7 .home-Rx5 .text-6Vo {
  width: 69.1rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 10.1rem;
}
.about-hogwarts-Fb7 .home-Rx5 .text-6Vo .meet-our-team-behind-the-project-3R3 {
  margin-bottom: 2.6rem;
  max-width: 69.1rem;
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 1.0301218149;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
}
.about-hogwarts-Fb7 .home-Rx5 .text-6Vo .auto-group-6yzy-AVf {
  margin-right: 2.3rem;
  width: calc(100% - 2.3rem);
  display: flex;
  align-items: center;
}
.about-hogwarts-Fb7 .home-Rx5 .text-6Vo .auto-group-6yzy-AVf .item--uTF {
  margin-right: 8.6rem;
  text-align: right;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 0.9169999957;
  font-style: italic;
  color: #ffc50d;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .home-Rx5 .text-6Vo .auto-group-6yzy-AVf .hogwarts-university-paD {
  text-align: right;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 0.9169999957;
  font-style: italic;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .home-Rx5 .rectangle-weq {
  width: 38.6rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 39.1001rem;
  display: flex;
  align-items: center;
  border-radius: 7.8rem;
}
.about-hogwarts-Fb7 .home-Rx5 .rectangle-weq .rect-kiri-Uuf {
  margin-right: 2.2rem;
  width: 18.2rem;
  height: 100%;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 0.9170000076;
  color: #000000;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 7.8rem;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .home-Rx5 .rectangle-weq .rect-kanan-8DX {
  width: 18.2rem;
  height: 100%;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 0.9170000288;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
  border-radius: 7.8rem;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq {
  box-sizing: border-box;
  padding: 1.6rem 8rem 1.8rem 7.1rem;
  width: 144rem;
  height: 12.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  backdrop-filter: blur(2rem);
  background-color: rgba(0, 0, 0, 0.200000003);
}
.about-hogwarts-Fb7 .navbar-yzq .logo-1-4mP {
  margin-right: 25.3rem;
  width: 9.4rem;
  height: 9.4rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .text-PYm {
  margin: 3.6rem 19.6rem 3.7rem 0rem;
  height: calc(100% - 7.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .text-PYm .alumni-Jvd {
  margin-right: 3.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .text-PYm .alumni-Jvd .alumni-U4R {
  margin-right: 1.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .text-PYm .alumni-Jvd .vector-1-14M {
  margin-bottom: 0.05rem;
  width: 1rem;
  height: 0.65rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .text-PYm .media-8Ps {
  margin-right: 3.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .text-PYm .staff-intranet-GW5 {
  margin-right: 3.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .text-PYm .about-hogwart-1Cm {
  margin-right: 4.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .text-PYm .office-kRF {
  margin-right: 3.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .text-PYm .contact-us-gph {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .kanan-cyF {
  margin: 2.4rem 0rem 3rem 0rem;
  height: calc(100% - 5.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .kanan-cyF .vector-Mfw {
  margin: 0.2rem 2.5rem 0rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .kanan-cyF .en-67j {
  margin: 1rem 2.3rem 0.8rem 0rem;
  height: calc(100% - 1.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .kanan-cyF .en-67j .en-Dy3 {
  margin-right: 1.1rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .kanan-cyF .en-67j .vector-1-NL9 {
  margin-top: 0.05rem;
  width: 1rem;
  height: 0.65rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .navbar-yzq .kanan-cyF .profile-i97 {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj {
  width: 150.4175rem;
  height: 53.4rem;
  position: absolute;
  left: 0;
  top: 320.3rem;
}
.about-hogwarts-Fb7 .bg-qDj .rectangle-10-NDf {
  width: 144rem;
  height: 45.8rem;
  position: absolute;
  left: 0;
  top: 3.9rem;
  background-color: #151515;
}
.about-hogwarts-Fb7 .bg-qDj .vector-10-J7K {
  width: 21.2175rem;
  height: 21.596rem;
  position: absolute;
  left: 129.2rem;
  top: 26.8rem;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-qDj .vector-12-2p1 {
  width: 7.65rem;
  height: 6rem;
  position: absolute;
  left: 75.95rem;
  top: 4.1rem;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-qDj .vector-11-mFo {
  width: 45rem;
  height: 53.4rem;
  position: absolute;
  left: 2.85rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-qDj .logo-2-WUH {
  width: 9.4rem;
  height: 9.4rem;
  position: absolute;
  left: 17.4rem;
  top: 8.7rem;
  object-fit: cover;
  vertical-align: top;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P {
  width: 79.8rem;
  height: 35.3rem;
  position: absolute;
  left: 51.8rem;
  top: 10.4rem;
  display: flex;
  align-items: flex-start;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .auto-group-y4af-ktR {
  margin: 0.2rem 6.7rem 0rem 0rem;
  width: 26.4rem;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .auto-group-y4af-ktR .kiri--V5K {
  margin: 0rem 0rem 13rem 0.2rem;
  display: flex;
  flex-direction: column;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .auto-group-y4af-ktR .kiri--V5K .hogwart-international-school-1ZT {
  margin-bottom: 1.5rem;
  max-width: 19.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.9170000076;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .auto-group-y4af-ktR .kiri--V5K .based-on-medan-indonesia-76h {
  margin-bottom: 2.6rem;
  max-width: 11.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4050000906;
  color: #8d8d8d;
  font-family: Google Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .auto-group-y4af-ktR .kiri--V5K .tel-62-812-7507-6747-BsF {
  margin-bottom: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4050000906;
  color: #8d8d8d;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .auto-group-y4af-ktR .kiri--V5K .email-infohogwartind-6DX {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4050000906;
  color: #8d8d8d;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .auto-group-y4af-ktR .auto-group-5bq5-RWh {
  width: 100%;
  height: 3rem;
  position: relative;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .auto-group-y4af-ktR .auto-group-5bq5-RWh .hogwart-international-school-aeV {
  width: 24.6rem;
  height: 1.5rem;
  position: absolute;
  left: 1.8rem;
  top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.9169999957;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .auto-group-y4af-ktR .auto-group-5bq5-RWh .item--5r9 {
  width: 2.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.9169999957;
  color: #000000;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .tengah-zTK {
  margin-right: 9.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .tengah-zTK .infocentre-in-new-building-YDw {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.9170000076;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .tengah-zTK .open-mo-fr-900-1630-off-semester-900-1500-GQq {
  margin-bottom: 2.6rem;
  max-width: 17rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4050000906;
  color: #8d8d8d;
  font-family: Google Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .tengah-zTK .infohogwartind-xoT {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4050000509;
  color: #8d8d8d;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .tengah-6em {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .tengah-6em .campus-medan-fC5 {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.9170000076;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .tengah-6em .ti-hg-957-oJH {
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4050000906;
  color: #8d8d8d;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .text-E9P .tengah-6em .medan-wQV {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4050000509;
  color: #8d8d8d;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .facebook-UQR {
  box-sizing: border-box;
  padding: 1rem 2.1rem 1rem 1rem;
  width: 13.3rem;
  height: 5rem;
  position: absolute;
  left: 19rem;
  top: 20.3rem;
  display: flex;
  align-items: center;
  background-color: #f1f6ff;
  border-radius: 10.3rem;
}
.about-hogwarts-Fb7 .bg-qDj .facebook-UQR .logo-NVo {
  margin-right: 0.7rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .facebook-UQR .facebook-ukd {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.9169999957;
  color: #000000;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .linkedin-dgd {
  box-sizing: border-box;
  padding: 1rem 1.7rem 1rem 1rem;
  width: 12.1rem;
  height: 5rem;
  position: absolute;
  left: 19rem;
  top: 27.8rem;
  display: flex;
  align-items: center;
  background-color: #f1f6ff;
  border-radius: 10.3rem;
}
.about-hogwarts-Fb7 .bg-qDj .linkedin-dgd .logo-Lb3 {
  margin-right: 0.6rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .linkedin-dgd .linkedin-GzV {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.9169999957;
  color: #000000;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .instagram-CdF {
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 1rem;
  width: 13.4rem;
  height: 5rem;
  position: absolute;
  left: 19rem;
  top: 35rem;
  display: flex;
  align-items: center;
  background-color: #f1f6ff;
  border-radius: 10.3rem;
}
.about-hogwarts-Fb7 .bg-qDj .instagram-CdF .group-W89 {
  margin-right: 0.6rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .bg-qDj .instagram-CdF .instagram-3tm {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.9169999957;
  color: #000000;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-hogwarts-Fb7 .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-y1j {
  width: 79.9rem;
  height: 27.5rem;
  position: absolute;
  left: 18rem;
  top: 267.1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
}
.about-hogwarts-Fb7 .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-y1j .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-y1j-sub-0 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
}
.about-hogwarts-Fb7 .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-y1j .project-description-this-project-aims-to-create-a-simple-school-website-that-will-serve-various-stakeholders-including-students-parents-teachers-and-all-those-involved-in-the-field-of-education-with-a-focus-on-providing-easy-access-to-school-news-and-related-information-the-website-will-become-the-primary-information-hub-for-all-things-related-to-the-school-through-the-development-of-this-website-we-aim-to-ensure-that-all-stakeholders-have-easily-accessible-resources-to-follow-school-developments-and-obtain-relevant-information-y1j-sub-1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
}
